{% extends 'askmath/content/classe/content_view_classes.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url 'askmath:content_classe_view' id_classe=classe.id %}"><span class="icon mif-clipboard"></span> <spam>{{ classe.get_name|title }}</spam></a></li>
{% endblock %}

{%  block tiles %}
<div class="tile-area no-padding bg-transparent">

	<h3 class="text-center page-title" >{{ classe.name }}</h3>

	<div class="grid condensed">
		<div class="row cells12">
			<div class="cell colspan8 padding10">
				<dl>
                    <dt>{% trans "Name" %}:</dt>
                    <dd>{{  classe.get_name }}</dd>
                    
                    <dt>{% trans "Responsible" %}:</dt>
                    <dd>
                    	{% if classe.get_responsible %}
                            <div>
                            {% if classe.get_responsible.get_profile_image %}
                            <img width="50px" height="50px" data-type='bordered'  class="list-icon" src="{{ classe.get_responsible.get_profile_image.url }}" />
                            {% else %}
                            <img width="50px" height="50px" data-type='bordered'  class="list-icon" src="{{ STATIC_URL }}askmath/img/metro/profile.png" />
                            {% endif %}
                            </div>
                            <span class="text-center">{{ classe.get_responsible.get_full_name }}</span>
						{% else %}
							{% trans "No responsible" %}
						{% endif %}
                    </dd>
                    
                    <dt>{% trans "Semester" %}:</dt>
                    <dd>{{ classe.get_semester }}</dd>

                    <dt>{% trans "Plan" %}:</dt>
                    <dd>
                    	{% if classe.plan %}
						<a href="{{ classe.plan.url }}" target="_blank">
							{% trans "Download File" %}
						</a>
						{% else %}
							{% trans "No file" %}
						{% endif %}
                    </dd>

                    <dt>{% trans "Disciplines" %}</dt>
                    <dd>
                    {% for discipline in classe.get_disciplines %}
                    <a href="{% url 'askmath:content_discipline_view' id_discipline=discipline.id %}" class="tag info">{{ discipline.title }}</a>
                    {% endfor %}
                    </dd>
                </dl>
			</div>
			<div class="cell colspan4 padding10">
				<div class="panel primary width">
					<div class="heading">
						 <span class="icon mif-users"></span>
						<span class="title text-center">{% trans "Students" %}</span>
					</div>
					<div class="content">
						<div class="listview">   
						{% for student in classe.get_students %}
							 <div class="list">
							 	{% if student.get_profile_image %}
								<img data-type='bordered'  class="list-icon" src="{{ student.get_profile_image.url }}" />
								{% else %}
								<img data-type='bordered'  class="list-icon" src="{{ STATIC_URL }}askmath/img/metro/profile.png" />
							 	{% endif %}
								<span class="list-title">{{ student.get_full_name }}</span>
							</div>
						{% empty %}
							<p class="text-center">{% trans "No students" %}</p>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}