{% load i18n %}

<div class="container">
	<div class="list-group">
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Lesson:" %}</h4>
			<p class="list-group-item-text">{{ video.get_lesson }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Title:" %}</h4>
			<p class="list-group-item-text">{{ video.get_title }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Description:" %}</h4>
			<p class="list-group-item-text">{{ video.get_description|safe|linebreaksbr }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Is Visible:" %}</h4>
			<p class="list-group-item-text">{{ video.is_visible }}</p>
		</div>
	</div>
	
	{% include "askmath/utils/video/_render_video.html" %}
</div>