{% extends 'askmath/manager/lesson/manager_view_lesson.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if lesson %}
	<li>
		<a href="{% url 'askmath:manager_video_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
			<span class="icon mif-film"></span> <span>{% trans "Videos" %}</span>
		</a>
	</li>
	{% endif %}
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title">{% blocktrans with lesson=lesson.get_title %}Videos of {{ lesson }}{% endblocktrans %}</h3>

	<div class="padding10">
	{% if perms.askmath.write_video %}
		<div class="cell">
				<a  class="image-button success" id="button-video-create" href="{% url 'askmath:manager_video_add' id_lesson=lesson.id  id_discipline=discipline.id %}">
					<span class="icon mif-plus"></span>
					{% trans "New Video" %}
				</a>
				<a class="image-button info" href="{% url 'askmath:manager_video_sort' id_lesson=lesson.id  id_discipline=discipline.id %}" >
					<span class="icon mif-list-numbered"></span>
					{% trans "Sort" %}
				</a>
				{% if is_removed %}
					<a class="image-button warning" href="{% url 'askmath:manager_video_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
						<span class="icon mif-undo"></span>
						{% trans "Close Dump" %}
					</a>
				{% else %}
					<a class="image-button warning" href="{% url 'askmath:manager_video_view_removed' id_lesson=lesson.id  id_discipline=discipline.id %}">
						<span class="icon mif-bin"></span>
						{% trans "Open Dump" %}
					</a>
				{% endif %}
		</div>
		{% endif %}

		<table  class="dataTable border bordered">
			<thead>
				<tr>
					<td style="width: 10px">{% trans "Position" %}</td>
					<td>{% trans "Title" %}</td>
					<td style="width: 10px">{% trans "Visible" %}</td>
				</tr>
			</thead>
			<tbody>
			{% for video in videos %}
			<tr>
				<td class="sortable-column">{{ video.get_position }}</td>
				<td class="sortable-column">
					<a href="{% url 'askmath:manager_video_view' id_discipline=discipline.id id_lesson=lesson.id id_video=video.id  %}">
						{{ video.get_title }}
					</a>
				</td>
				<td>
					{% if video.is_visible %}
						<button class="cycle-button mini-button button success">
							<span class="mif mif-checkmark"></span>
						</button>
					{% else %}
						<button class="cycle-button mini-button button danger">
							<span class="mif mif-cross"></span>
						</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
