{% extends 'askmath/manager/video/manager_view_videos.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if video %}
	<li><a href="/home/manager/videos/view/lesson={{ lesson.id }}/video={{ video.id }}/"><span class="icon mif-film"></span> <spam class="hidden-xs">{{ video|truncatechars:"30" }}</spam></a></li>
	{% endif %}
{% endblock %}

{%  block content_right %}
<div class="cell padding10">
	<a href="/home/manager/videos/view/lesson={{ lesson.id }}/" class="button info" ><span class="mif-arrow-left"></span>{% trans " Back" %}</a>
	{% if perms.askmath.write_video %}
		<a href="/home/manager/videos/edit/lesson={{ lesson.id }}/video={{ video.id }}/" class="button primary" ><span class="mif-pencil"></span>{% trans " Edit" %}</a>
		{% if video.exists %}
		<a href="/home/manager/videos/remove/lesson={{ lesson.id }}/video={{ video.id }}/" class="button danger" ><span class="mif-cross"></span>{% trans " Remove" %}</a>
		{% endif %}
		{% if not video.exists %}
		<a href="/home/manager/videos/restore/lesson={{ lesson.id }}/video={{ video.id }}/" class="button warning" ><span class="mif-history"></span>{% trans " Restore" %}</a>
		{% endif %}
	{% endif %}
</div>

{% include "askmath/manager/video/_render_video.html" %}

</div>
{% endblock %}
