{% extends 'askmath/manager/video/manager_view_videos.html' %}
{% load i18n %}

{%  block content %}

<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan8">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% blocktrans with lesson=lesson.get_title %}Sort Videos of {{ lesson }}{% endblocktrans %}</h3>

				<div class="padding20">
					<div id="list_videos_sort" class="listview ">
						{% csrf_token %}
						{% for video in videos %}
						<div class="list cursor-move bg-lightBlue fg-white border" value={{ video.id }}>
							<span class="list-icon">{{  video.get_position }}</span>
							<span class="list-title">{{ video }}</span>
						</div>
						{% empty %}
						<h3 class="align-center">{% trans "Not Videos Found" %}</h3>
						{% endfor %}
					</div>
					<br>
					<button onclick="sortVideos();" class="image-button primary" >
						<span class="icon mif-checkmark"></span>
						{% trans "Submit" %}
					</button>
				</div>
			</div>
		</div>
		<div class="cell colspan4">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Informations" %}</h3>
				<div class="padding10">
					<ul>
						<li>* Esses campos sãorqueridos</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
