{% extends 'askmath/manager/video/overwrite_header.html' %}

{% load i18n %}

{%  block content_right %}

<div class="cell">
	<h2 class="text-dark  text-center">{% trans "Choose Lesson" %}<span class="mif-clipboard place-right"></span></h2>
</div>

<div class="tile-area padding10 bg-transparent">

{% for discipline in disciplines %}
<h4>{{ discipline.get_title|title }}</h4>
<div class="tile-container  fg-white">
	{% for lesson in discipline.get_lessons %}
	<div class="tile {{ lesson.color }} {% if lesson.is_visible %}element-selected{% endif %}  fg-white" data-role="tile">
	    <a href="/home/manager/videos/view/lesson={{ lesson.id }}/" class="tile-content iconic">
	        <span class="icon mif-clipboard"></span>
	        <span class="tile-label">{{ lesson }}</span>
	        {% if not lesson.exists %}
	        <span class="tile-badge mif-bin"></span>
	        {% endif %}
	    </a>
	</div>
	{% empty %}
	<h3 class="text-center">{% trans "Not Lessons Found" %}</h3>
	{% endfor %}
</div>
{% empty %}
<h3 class="text-center">{% trans "Not Lessons Found" %}</h3>
{% endfor %}

</div>
{% endblock %}
