Django>=1.7,<1.8
django-nocaptcha-recaptcha==0.0.18
python-social-auth==0.2.13
Pillow>=2.6,<2.7
nltk==3.1

#sudo apt-get install postfix
#sudo aptitude install libapache2-mod-wsgi
#sudo easy_install django-rosetta
#sudo apt-get install python-dev or sudo apt-get install python3-dev
#sudo apt-get install libpq-dev
#sudo apt-get install gettext

