.highcontrast, .highcontrast * {
	background: rgba(76,76,76,0.9) !important;
	background: -moz-linear-gradient(left, rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.9) 0%, rgba(71,71,71,0.9) 0%, rgba(19,19,19,0.9) 0%, rgba(0,0,0,1) 100%) !important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,0.9)), color-stop(0%, rgba(28,28,28,0.9)), color-stop(0%, rgba(71,71,71,0.9)), color-stop(0%, rgba(19,19,19,0.9)), color-stop(100%, rgba(0,0,0,1))) !important;
	background: -webkit-linear-gradient(left, rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.9) 0%, rgba(71,71,71,0.9) 0%, rgba(19,19,19,0.9) 0%, rgba(0,0,0,1) 100%) !important;
	background: -o-linear-gradient(left, rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.9) 0%, rgba(71,71,71,0.9) 0%, rgba(19,19,19,0.9) 0%, rgba(0,0,0,1) 100%) !important;
	background: -ms-linear-gradient(left, rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.9) 0%, rgba(71,71,71,0.9) 0%, rgba(19,19,19,0.9) 0%, rgba(0,0,0,1) 100%) !important;
	background: linear-gradient(to right, rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.9) 0%, rgba(71,71,71,0.9) 0%, rgba(19,19,19,0.9) 0%, rgba(0,0,0,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000', GradientType=1 );
  	color: yellow !important;
}