/* background: url("../img/backgrounds/background-learner.jpg"); */

body{
	font-family: SofiaRegular,"Helvetica Neue",Helvetica,Arial,sans-serif; 
	line-height: 1.1;
	background: transparent url("../img/backgrounds/background.jpg") no-repeat center center fixed;
	font-weight: 400;
	font-style: normal;
	line-height: 1.65; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#site{
	min-height: 100%;
}

#content{
	margin-bottom: 20px;
}

/* DIVIDERS */
.divider{

}

.divider-small{
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.divider-fill{

}

* {
	margin:0px;
}


html, body {
	height: 100%;
}

body{
	min-height: 100%;	
}

.v-center {
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.transparent{
	background: transparent;
	background-color: transparent;
}


label {
  display: inline-block;
  width: 100%;
}


/* Hide the file input using
opacity */
#input_profile_image [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}

.errorlist, .error-field{
	color: red;
}



.video{
	position: relative;
	height: 95%;
}


.form-generic{
	align: center;
}

.form-generic .form-fields {
	margin: 0 auto;
}


.icon-lesson-progress{
	width: 200px;
	height: 200px;
	background-color: white;
	color: gray;
	border-radius: 50%;
	-webkit-font-smoothing: antialiased;
	padding:10px;
	border: 10px solid #1BA1E2;
	color: #1BA1E2;
	font-size: x-large;
}

.heigth{
	min-height: 100%;
	height: 100%;
}

.width{
	min-width: 100%;
	width: 100%;
}

.fill{
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
}

/* BORDER */

.border{
	border: 2px solid #FFF;
}

.border-small{
	border: 1px solid #FFF;	
}

#lower-menu .btn-group .btn{
	font-weight: bold;
	font-size: 120%;
}



#points{
	font-size: large;
}

.paragraph{
	text-indent: 2em;
}

.clean-margin{
	margin: 0px;
}

.app-bar-element.branding{
	font-size: 150% !important;
	font-weight: bold;
}

.noborder{
	border: 0px;
}

.right {
  float: right;
}



.container-video{
	margin-left: auto;
	margin-right: auto;
}

.break-word {
	white-space: pre-wrap;
}


/* INPUTS */

input[type=search] {
  box-sizing: inherit;
  appearance: textfield;
}

button[disabled], html input[disabled] {
    cursor: not-allowed;
}

.input-control, .input{
	color: #000 !important;
}

input:disabled {
    background: #dddddd;
} 


.select.input-control{
	padding: 0px;
}

.form-control{
	border: 1px solid #D9D9D9;
	padding: 0.3125rem;
	display: inline-block;
	height: 2.125rem;
	position: relative;
	vertical-align: middle;
	line-height: 1;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}

#feedback {
	float: left;
	position: fixed;
	top: calc(50% - 47px);
	right: 0;
	z-index: 1000;
}

#feedback a {
	background: #FF4500;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	border: 3px solid #fff;
	border-right: 0;
	display: block;
	padding: 20px 12px;
	transition: all .2s ease-in-out;
}

#feedback a:hover {
	padding-right: 20px;
}


.help, p.help {
    font-size: 15px !important;
    color: #888;

}


/* LINKS */
a{
    color: #428BCA !important;
    text-decoration: underline !important;
}

li > a, a.button, a.btn, a.shortcut-button{
	color: #000 !important;
    text-decoration: none !important;
}


.popover * {
    color: #000;
}


.list-heading {
    font-weight: normal;
}


/* CREDITS */
.product {
    margin-top: 16px;
    overflow: auto;
    padding: 2px;
}

.product .title {
    float: left;
    font-size: 110%;
    font-weight: bold;
    margin: 3px;
}

.product .homepage {
    float: right;
    margin: 3px;
    text-align: right;
}

/* TABLES */
caption{
	font-size: 120%;
}


/* FORUM */
.table-category{
}

.table-topic{

}

.table-category > tbody > tr > td.category, 
.table-topic > tbody > tr > td.topic{
	text-align: left;
	display: inline-block;
}

.table-category > tbody > tr > td.category > .icon, 
.table-topic > tbody > tr > td.topic > .icon {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: cover !important;
	float: left;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

.table-category > tbody > tr > td.category > div.details{
	display: block;
	padding-top: 0px;
	line-height: 1.0;
}


.table-category > tbody > tr > td.category > .icon{
	background-image: url("/static/askmath/img/icons/forum_read.png");
	vertical-align: middle;
	width: 50px;
	height: 50px;
	
}

.table-topic > tbody > tr > td.topic > .icon{
	background-image: url("/static/askmath/img/icons/topic_read.png");
	width: 32px;
	height: 32px;
	
}


.table-category > tbody > tr > td.category ,
.table-category > thead > tr > th.category{
	text-align: left;
}
.table-category > tbody > tr > td.post ,
.table-category > thead > tr > th.post{
	text-align: center;
}
.table-category > tbody > tr > td.last_post ,
.table-category > thead > tr > th.last_post{
	text-align: left;
}

.table-topic > tbody > tr > td.topic ,
.table-topic > thead > tr > th.topic{
	text-align: left;
}
.table-topic > tbody > tr > td.replies ,
.table-topic > thead > tr > th.replies{
	text-align: center;
}
.table-topic > tbody > tr > td.date ,
.table-topic > thead > tr > th.date{
	text-align: left;
}



.table-category > tbody > tr > td.category > .details, 
.table-topic > tbody > tr > td.topic > .details{
	min-height: 1px;
	overflow: hidden;
	padding: 0px 11px 0px 12px;
	position: relative;
}



.table-category > tbody > tr > td.category > .details > .description{
	padding-top: 0px;
	font-size: 0.923em;
}

.pagepost{
	border-top-width: 1px;
}

.pagepost > .pagelink{
	float: left;
    white-space: nowrap;
}

.pagepost > .postlink{
	float: right;
    white-space: nowrap;
    font-weight: bold;
	text-align: right;	
}


.person-card{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.person-card > figure > .person-image{
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-height: 100px;
}

.person-card  > .person-name{
	display: block;
	text-align: center;
}

.post-card, .comment-card{
	min-height: 100%;
	min-width: 100%;
}

.post-card > .post-description{
	display: block;
}

.post-card > .post-controls{
	display: block;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

#welcome > h1, #welcome > h3{
	font-family: Expressway;
}

.tabcontrol > .tabs > li.active > a{
	color: #fff;
}

.bg-white-opacity, .frames > .frame{
	border: 0px none;
	background: #FFF none repeat scroll 0% 0% !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) !important;
	padding: 4px 20px 4px 20px !important;
}

.bg-white-opacity.text{
	padding: 10px 50px 10px 50px;
	padding-top: 40px;
}

.thin{
	background: transparent;
	background-color: transparent;	
}
