body{
	background: url("../img/backgrounds/background-learner.jpg");
	background-size: cover;
	background-repeat: no-repeat ; 
	background-attachment: fixed;
	font-family: Arial,serif;
	font-size: 0.875rem;
	color: #fff;
	line-height: 1.1;
	font-weight: 400;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,p{
	text-shadow: 1px 1px #000;
}

* {
	margin:0;
}
html, body {
	height: 100%;
}


#main{;
	margin-bottom: 20px;
}

.v-center {
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.transparent{
	background: transparent;
}


label {
  display: inline-block;
  width: 100%;
}


/* Hide the file input using
opacity */
#input_profile_image [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}

.errorlist, .error-field{
	color: red;
}



.video{
	position: relative;
	height: 95%;
}

.form-generic{
	align: center;
}

.form-generic .form-fields {
	margin: 0 auto;
}


.icon-lesson-progress{
	width: 200px;
	height: 200px;
	background-color: white;
	color: gray;
	border-radius: 50%;
	-webkit-font-smoothing: antialiased;
	padding:10px;
	border: 10px solid #1BA1E2;
	color: #1BA1E2;
	font-size: x-large;
}

.heigth{
	min-height: 100%;
	height: 100%;
}

.width{
	min-width: 100%;
	width: 100%;
}

.fill{
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
}

.border{
	border: 1px solid #FFF;
}

#lower-menu .btn-group .btn{
	font-weight: bold;
	font-size: 120%;
}



#points{
	font-size: large;
}

.paragraph{
	text-indent: 2em;
}

.clean-margin{
	margin: 0px;
}

.app-bar-element.branding{
	font-size: 150% !important;
	font-weight: bold;
}

.noborder{
	border: 0px;
}

.right {
  float: right;
}


/************  FOOTER  *************/


#footer .navbar-inverse, #header .navbar-inverse{
	background: none;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-inverse a{
	color: #fff !important;
}


.navbar-inverse{
	color: #fff;
	border:none;
}


#text-welcome{
	padding: 10px;
	font-family: cursive;
}
/************  ENDFOOTER  *************/

.container-video{
	margin-left: auto;
	margin-right: auto;
}

.break-word {
	white-space: pre-wrap;
}
/* Search */
#submit-search{
	min-width: 40px;
	background-color: #211921;
	color: #fff;
}
#submit-search: hover{
	background-color: #080008;
	color: #fff;
}


/* INPUTS */

button[disabled], html input[disabled] {
    cursor: not-allowed;
}

.input-control, .input{
	color: #000 !important;
}

input:disabled {
    background: #dddddd;
} 

.input-control{
	padding: 0px;
	padding-left: 10px;
}
.select.input-control{
	padding: 0px;
}


.form-control{
	border: 1px solid #D9D9D9;
	padding: 0.3125rem;
	display: inline-block;
	height: 2.125rem;
	position: relative;
	vertical-align: middle;
	line-height: 1;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}

#feedback {
	float: left;
	position: fixed;
	top: calc(50% - 47px);
	right: 0;
}

#feedback a {
	background: #FF4500;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	border: 3px solid #fff;
	border-right: 0;
	display: block;
	padding: 20px 12px;
	transition: all .2s ease-in-out;
}

#feedback a:hover {
	padding-right: 20px;
}
