.btn, .btn-group{
	border-radius: 0px;
}

.btn-rounded{
	border-radius: 30px;
	width: auto;
	border: 0px none;
}

.btn-menu{
	font-weight: 600;
	color: #FFF !important;
}


.btn-block{
	margin-bottom: 7px !important;
}

#btn-starter-lesson{
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;	
}

#btn-starter-lesson:hover {
	background-color:#5cbf2a;
}

#btn-starter-lesson:active {
	position:relative;
	top:1px;
}

.modal-content .modal-footer button + button {
    margin-bottom: 0px;
}