/* TILES */


.tile-area-controls {
	position: fixed;
	right: 40px;
	top: 40px;
}

.tile-content{
	position: relative;
}

.tile-group {
	left: 100px;
}
.tile-group .tile-group-title{
	color: inherit !important;
}


.tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
	opacity: 0;
	-webkit-transform: scale(.8);
	transform: scale(.8);
}

/* END TILES */

.charm.right-side {
	width: 300px;
	right: -300px;
}

#charmSettings .button {
	margin: 5px;
}

@media screen and (max-width: 640px) {
	.tile-area {
		overflow-y: scroll;
	}
	.tile-area-controls {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.tile-area {
		overflow-y: scroll;
	}

	.tile-area-controls {
		display: none;
	}

}

.page-content {
	min-height: 100%;
	height: 100%;
}
.table .input-control.checkbox {
	line-height: 1;
	min-height: 0;
	height: auto;
}


.tile-container-center{
	position: relative;
	left: auto;
	right: auto;
}



a.tile-content{
	color: #FFF !important;
}


#tile-squared .row{
	heignt: 100px;
	width: 100px;
}

.tile-area{
	height: inherit;
}

.tile-area-title{
	padding-left: 10px;
}
.tile-video .tile-label{
	position: relative;
	top: 5%;
	font-size: 120%;	
}

.tile_video video{
	bottom: 0px;
}

.container-metro, .tile-group{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.tile-group-title{
	margin-left: 10px;
}


/* LISTS  */

ol, ul {
	margin-left: 0px;
}

/* TABLES */
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
	background-color: inherit;
}


/* TABS */

.tabs li  a{
	color: #000 !important;
}


/* INPUTS */

textarea{
	max-height: 50px;
}


/* breadcrumbss */
.breadcrumbs2 {
  margin: 0.625rem 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
}
.breadcrumbs2 li {
  float: left;
  margin: 0 .2em 0 1em;
}
.breadcrumbs2 a {
  background: #d9d9d9;
  padding: .3em 1em;
  float: left;
  text-decoration: none;
  color: #2086bf !important;
  position: relative;
}
.breadcrumbs2 a:hover {
  background: #1ba1e2;
  color: #ffffff !important;
}
.breadcrumbs2 a:hover:before {
  border-color: #1ba1e2 #1ba1e2 #1ba1e2 transparent;
}
.breadcrumbs2 a:hover:after {
  border-left-color: #1ba1e2;
}
.breadcrumbs2 a:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #d9d9d9 #d9d9d9 #d9d9d9 transparent;
  left: -1em;
  margin-left: 1px;
}
.breadcrumbs2 a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #d9d9d9;
  right: -1em;
  margin-right: 1px;
}
.breadcrumbs2 > li:first-child {
  margin-left: 0;
}
.breadcrumbs2 > li:first-child a:before {
  content: normal;
}
.breadcrumbs2 > li:last-child {
  background: none;
}
.breadcrumbs2 > li:last-child a {
  color: #000 !important;
}
.breadcrumbs2 > li:last-child:after,
.breadcrumbs2 > li:last-child:before {
  content: normal;
}
.breadcrumbs2 > li:last-child:hover a {
  color: #ffffff;
}
.breadcrumbs2 .active,
.breadcrumbs2 .active:hover {
  background: none;
}
.breadcrumbs2 .active a,
.breadcrumbs2 .active:hover a {
  color: #1d1d1d;
}
.breadcrumbs2 .active:hover a {
  color: #ffffff;
}
.breadcrumbs2 .active:after,
.breadcrumbs2 .active:before {
  content: normal;
}
.breadcrumbs2.small a {
  padding: .2em 1em;
  font-size: 11.9px;
}
.breadcrumbs2.mini a {
  padding: .1em 1em;
  font-size: 10.5px;
}
.breadcrumbs2 > li > a > [class*=mif] {
  vertical-align: -10%;
}