.container, .container-fluid{
	padding-right: 15px;
    padding-left: 15px;
}


#tile-squared .row{
	heignt: 20px;
	width: 20px;
}

#lower-menu .btn-group .btn{
	font-weight: bold;
	font-size: 100%;
}

.tile, .tile-wide{
	width: 150px;
  	height: 150px;
}

.flex-grid:not(.no-responsive-future) .row {
    flex-direction: row;
}