.tile, .tile-wide{
	width: 150px !important;
  	height: 150px !important;
}


.flex-grid:not(.no-responsive-future) .row .cell, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"] {
    flex: auto;
}
.flex-grid:not(.no-responsive-future) .row .cell:nth-child(1):last-child, .flex-grid:not(.no-responsive-future) .row .cell:nth-child(11):last-child, .flex-grid:not(.no-responsive-future) .row .cell:nth-child(3):last-child, .flex-grid:not(.no-responsive-future) .row .cell:nth-child(5):last-child, .flex-grid:not(.no-responsive-future) .row .cell:nth-child(7):last-child, .flex-grid:not(.no-responsive-future) .row .cell:nth-child(9):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(1):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(11):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(3):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(5):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(7):last-child, .flex-grid:not(.no-responsive-future) .row .cell[class*="size"]:nth-child(9):last-child{
   	flex-basis: auto;
}