/*---start-header*/
.header{
    background-image: url('/static/askmath/img/logos/barner_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 0px 1px 0px;
}

.app-bar a, .button a, .tabs a,  .image-button, .shortcut-button, .button{
    text-decoration: none !important;
}

.app-bar-element > a{
    color: #fff;
}

.icon-size{
    font-size: 87px;
}

.icon-bar{
    color: #fff !important;
}


.rss-icon{
    width: 20px;
    height: 20px;
}
