


.icon-size
{
    font-size: 87px;
}

.icon-bar{
    color: #fff !important;
}


.rss-icon{
	width: 20px;
	height: 20px;
}

/* SIDEBAR */
.sidebar > li{
    padding-left: 10px;
}
.sidebar > li > a > .title{
    vertical-align: middle;
    padding: none !important;
}

@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
}

#cell-sidebar{
    min-height: 100% !important;
}


#sidebar-admin-card{
    display: block; 
}

.controls > .image-container{
    max-width: 225px;
}

.logo-system{
    height: 100%;
    margin-top: 5px;
}

.logo > .image-logo{
    min-width:100%;
    min-height:100%;
}
