{% load i18n %}
{% load askmath_tags %}
<div class='app-bar drop-up'>
    <ul class="app-bar-menu">
        <li>
            <a href="#" itemprop="title">
                <span>© 2016 - {% SETTINGS "SITE_COMPANY" %}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'askmath:about' %}">{% trans "About Us" %}</a>
        </li>
        <li>
            <a href="{% url 'askmath:message' %}">{% trans "Contact Us" %}</a>
        </li>
        <li>
            <a href="{% url 'askmath:terms' %}">{% trans "Terms of service" %}</a>
        </li>
        <li>
            <a href="{% url 'askmath:policies' %}">{% trans "Privacy policy" %}</a>
        </li>
        <li>
            <a href="{% url 'askmath:feed' %}" alt="{% trans "RSS" %}">
                <span class="mif-feed3"></span>
            </a>
        </li>
    </ul>
</div>
{% comment %}  

{% endcomment %}