{% load i18n %}
{% load askmath_tags %}
<nav class="navbar navbar-inverse navbar-static-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" itemprop="title" href="#"><span>© 2015 - {% SETTINGS "SITE_COMPANY" %}</span></a>
        </div>
        <div id="footer-body2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about/">{% trans "About Us" %}</a></li>
                <li><a href="/contact/">{% trans "Contact Us" %}</a></li>
                <li><a href="/terms/">{% trans "Terms of service" %}</a></li>
                <li><a href="/terms/">{% trans "Privacy policy" %}</a></li>
                <li><a class="fb-like" data-href="https://www.facebook.com/askmath.ufc" data-layout="button_count"></a></li>
            	<li><a class="fb-share-button" data-href="https://www.facebook.com/askmath.ufc" data-layout="button_count"></a></li>
            </ul>
        </div>
    </div>
</nav>
{% comment %}  

{% endcomment %}