{% load i18n %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan8">
			<div class="card">

				<h3 class="align-center page-title">{{ title_form }}</h3>
				
				<form  class="padding10"   action="." method="post" enctype="multipart/form-data" role="form" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000">
				{% csrf_token %}
					{% include "askmath/_render_form.html" %}
					<div class="row">
						<button type="submit" class="button primary">
							<span class="icon mif-checkmark"></span>
							{% trans "Submit" %}
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="cell colspan4">
			<div class="card">
				
				<h3 class="align-center page-title">{% trans "Informations" %}</h3>
				
				<div class="padding10">
					<ul>
						<li>* Esses campos são requeridos</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>