{% load i18n %}

<form  class="bg-white-opacity" action="." method="post" enctype="multipart/form-data" role="form">
{% csrf_token %}
	<h2 class="form-signin-heading text-center ">{{ title_form }}</h2>
	<hr class="thin">
	<div class="form-fields">
		{% include "askmath/_render_form.html" %}
    </div>
	<div class="text-right">
		<a type="cancel" onclick="window.history.back();" class="image-button button-default">
			{% trans "Cancel" %}
			<span class="icon mif-cancel"></span>
		</a>
		<button type="submit" class="image-button button-primary">
			{% trans "Submit" %}
			<span class="icon mif-checkmark"></span>
		</button>
	</div>
</form>