{% load i18n %}
{% load askmath_tags %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home/" class="navbar-brand" rel="{% trans "Home" %}" itemprop="title">
            	<img style="max-width:100px; margin-top: -7px;" src="{{ STATIC_URL }}askmath/img/logos/logo-white.png"/>
            </a>
        </div>
        <div id="footer-body1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home/">
                    	<span class="icon mif-home"></span> {% trans "Home" %}
                    </a>
                </li>
                <li>
                    <a href="/forum/">
                    	<span class="icon mif-bubbles"></span> {% trans "Forum" %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <div class="container-fluid">
                    <div class="row">
                    {% if perms.askmath.access_content %}
                    <form class="navbar-form pull-left form-search" action="/utils/filter/search/" method="POST" role="search">
                    {% csrf_token %}
                        <div class="form-group">
                            <div class="btn-group">
                                <input  id="search" name="search" type="text" size="27" maxlength="27" class="form-control" placeholder="{%  trans "Search lessons..." %}" required>
                                <span id="searchclear" class="glyphicon glyphicon-remove-circle hidden"></span>
                            </div>
                            <button id="searchbutton" type="submit" class="btn btn-submit bg-dark fg-white pull-right">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
                    {% endif %}
                    </div>
                    </div>  
                </li>
            	<li>
					<a href="/feed/" alt="{% trans "RSS" %}">
						<img class="rss-icon img img-responsive" src="{{ STATIC_URL }}/askmath/img/icons/rss.jpg">
					</a>
				</li>
            	{% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon mif-user"></span> 
                        <strong>{{ request.user.get_username }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            {% if request.user.get_profile_image %}
                                            <img class="img" src="{{ request.user.get_profile_image.url }}">
                                            {% else %}
                                            <img class="img" src="{{ STATIC_URL }}askmath/img/metro/profile.png" width="100%" height="100%"></<img>   
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ request.user.get_name }}</strong></p>
                                        <p class="text-left small">{{ request.user.get_email }}</p>
                                        <a href="/home/person/account/view/" class="image-button btn btn-block primary">
                                        	{% trans "View Profile" %}
                                        	<span class="icon mif-profile bg-darkCobalt"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                        	<div class="container-fluid">
                        		<a href="/authentication/logout/" class="image-button btn btn-block danger">
                        			{% trans "Logout" %}
                        			<span class="icon mif-switch bg-darkRed"></span>
                        		</a>
                        	</div>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>