{% load i18n %}
{% load askmath_tags %}

{% for field in form.visible_fields %}
	{% if field|is_checkbox %}
		{% include 'askmath/fields/checkbox.html' %}
	{% elif field|is_radio %}
		{% include 'askmath/fields/radio.html' %}
	{% elif field|is_select %}
		{% include 'askmath/fields/select.html' %}
	{% elif field|is_select_multiple %}
		{% include 'askmath/fields/select_multiple.html' %}
	{% elif field|is_file %}
		{% include 'askmath/fields/file.html' %}
			{% elif field|is_text  %}
				{% include 'askmath/fields/text.html' %}
	{% elif field|is_textarea %}
		{% include 'askmath/fields/textarea.html' %}
	{% elif field|is_email %}
		{% include 'askmath/fields/email.html' %}
	{% elif field|is_number %}
		{% include 'askmath/fields/number.html' %}
	{% elif field|is_date %}
		{% include 'askmath/fields/date.html' %}
	{% elif field|is_password %}
		{% include 'askmath/fields/password.html' %}
			{% elif field|is_captcha %}
				{% include 'askmath/fields/captcha.html' %}
			{% else %}
				{% include 'askmath/fields/field.html' %}
	{% endif %}
{% endfor %}