{% include 'askmath/fields/caption.html' %}
{% include 'askmath/fields/errors.html' %}
<div  class="input-control password full-size" data-role="input">
    <input id="{{ field.auto_id }}" 
    	   type="password"
    	   name="{% if form.prefix %}{{form.prefix}}-{% endif %}{{ field.name }}" 
    	   value="{% if field.field.value %}{{ field.value}}{% else %}{{ field.initial|default_if_none:"" }}{% endif %}"
    	   title="{{ field.help_text }}" 
    	   {% if field.field.required %}required{% endif %}
    	   {% for attr in field.widget.attrs %}
    	   		{{ attr }}
    	   {% endfor %}
    />
    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
</div>