{% extends 'askmath/content/video/view_videos.html' %}

{% load i18n %}

{% block tiles %}
<div class="flex-grid">
	<div class="row">
	{% if lesson.get_videos_visibles|length > 1 %}
	<div class="cell colspan9">
	{% else %}
	<div class="cell colspan12">
	{% endif %}
		<div class="card block-shadow">

			<h3 class="align-center page-title">{{ video.get_title }}</h3>
			<div class="padding10">
				<div class="row">
					{% include "askmath/utils/video/_render_video.html" %}
				</div>
				<p class="text-accent align-justify">{{ video.get_description|safe|linebreaksbr }}</p>
			</div>
		</div>
	</div>

	{% if lesson.get_videos_visibles|length > 1 %}
		<div class="cell colspan3">
			<div class="card block-shadow">
			
				<h3 class="align-center page-title">{% trans "Others Videos" %}</h3>
				
				<div class="tile-container">
				{% for video2 in lesson.get_videos_visibles %}
					{% if video != video2 %}
					<div class="tile-wide {{ video2.color }}">
						<a href="{% url 'askmath:content_video_view' id_discipline=discipline.id id_lesson=lesson.id id_video=video2.id %}" class="tile-content slide-down iconic">
							<span class="icon mif-film"></span>
							<div class="tile-label">
								{{ video2.get_title|title }}
							</div>
						</a>
					</div>
					{% endif %}
				{% empty %}
				<h1 class="align-center">{%trans "Lesson does not have videos."%}</h1>
				{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
