{% extends 'askmath/content/lesson/content_view_lesson.html' %}



{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_video_view' id_discipline=discipline.id id_lesson=lesson.id %}">
			<span class="icon mif-list-numbered"></span> <span>{% trans "Videos" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="tile-area no-padding">
	<div class="tile-container">
        <h3 class="text-center page-title">
            {% blocktrans with lesson=lesson %}Videos of {{ lesson }}{% endblocktrans %}
		</h3>
        {% for video in videos %}
			 <div class="tile-wide {{ video.color }}">
				<a href="{% url 'askmath:content_video_view' id_discipline=discipline.id id_lesson=lesson.id id_video=video.id %}" class="tile-content slide-down iconic">
					<span class="icon mif-film"></span>
					<div class="tile-label">
							{{ video.get_title|title }}
					</div>
				</a>
			</div>
		{% empty %}
		    <h3 class="text-center">{%trans "Lesson does not have videos."%}</h3>
		{% endfor %}
	</div>
</div>
{% endblock %}