{% extends 'askmath/content/lesson/content_view_lesson.html' %}

{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_question_view' id_discipline=discipline.id id_lesson=lesson.id %}">
			<span class="icon mif-list-numbered"></span> <span>{% trans "Questions" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan10">
			<div class="card">
				<h3 class="align-center page-title no-margin">
					{% blocktrans with lesson=lesson %}Questions of {{ lesson }}{% endblocktrans %}
				</h3>
				

				{% if lesson.get_questions_visibles|length > 0 %}			

				<table id="question_status" class="table striped border bordered cell-hovered  no-margin  align-center">
					<tr>
						<td>{% trans "Lesson Points" %} : {{ studentlessonstate.get_scores }}</td>
						<td>{% trans "Correct Questions" %} : {{ studentlessonstate.get_answered_correct_questions|length }}/{{ lesson.get_questions_visibles|length }}</td>
						<td>{% trans "Skipped Remaining" %} : {{ studentlessonstate.get_remaining_jump }}</td>
					</tr>
				</table>
				
				<div class="meter  bg-grayLight">
					<span class="align-center fg-white" style="width: {{ studentlessonstate.get_percentage_completed }}%">{{ studentlessonstate.get_percentage_completed }}%</span>
				</div>

				{% endif %}

				<div class="padding10">

					{% if question and lesson_complete == False %}
					<p id="content" class="text-accent align-justify"> 
						{{ question.get_description|safe|linebreaksbr }} 
						<span id="points" class="tag warning">{{ question.get_scores }} {% trans "Points" %}</span>
					</p>
					<form action="{% url 'askmath:content_question_answer' id_discipline=discipline.id id_lesson=lesson.id id_question=question.id %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="url_help" value="{% url 'askmath:content_question_help' id_discipline=discipline.id id_lesson=lesson.id id_question=question.id %}"/>
						{% for item in question.get_items %}
						<div class="row">
							<label class="input-control radio small-check">
								<input type="radio" name="item" value={{ item.id }} required>
								<span class="check"></span>
								<span class="caption align-justify">{{ item.get_description|safe|linebreaksbr }}</span>
							</label>
						</div>
						{% empty %}
						<p>{% trans "Not Item Found!!!" %}</p>
						{% endfor %}


						<div data-role="group" data-group-type="one-state" data-button-style="class">

							<button type="submit" class="image-button success">
								<span class="icon mif-checkmark"></span>
								<span>{% trans "Reply" %}</span>
							</button>
							{% if question.get_help|length > 0 %}
							<button  type="button" id="btn-help" class="button info" onclick="showDialog('#dialog_help')">
								<span class="icon mif-question"></span>
								<span>{% trans "Help" %}</span>
							</button>
							{% endif %}

							{% if studentlessonstate.get_remaining_jump > 0 %}
							<button type="button" class="image-button warning" onclick="showDialog('#dialog_jump')">
								<span class="icon mif-redo"></span>
								<span>{% trans "Jump" %}</span>
							</button>
							{% endif %}

							{% if studentlessonstate.get_skipped_questions|length > 0  and not question in studentlessonstate.get_skipped_questions %}
								<button type="button" class="image-button primary" onclick="showDialog('#dialog_skipped_questions')">
								   	<span class="icon mif-history"></span>
									<span>{% trans "Review Jumps" %}</span>
								</button>
							{% endif %}
							
							{% if  occur_obstacle or deficiencies %}
								<button type="button" class="image-button danger"   onclick="showDialog('#dialog_obstacle')">
								   	<span class="icon mif-warning mif-ani-flash mif-ani-slow"></span>
									<span>{% trans "Deficiencies" %}</span>
								</button>
							{% endif %}
						</div>

					</form>
					{% elif not question and lesson_complete %}
					<div class="jumbotron">
						
						<h2 class="align-center">{% trans "Congratulations, complete lesson !!!" %}</h2>
						
						<div class="align-center margin30">
							<a  class="button success" href="{% url 'askmath:content_question_reset_lesson' id_discipline=discipline.id id_lesson=lesson.id %}">
								{% trans "Reser Lesson" %}
							</a>
						</div>
					
					</div>
					<hr class="divider bg-grayLight">
					<h4>{% trans "Sugestions next lessons:" %}</h4>

					<ul>
						{% for sugestion in lesson.get_sugestions %}
							<li>
								<a class="tag  {{ sugestion.color }} fg-white"
								   href="{% url 'askmath:content_lesson_view' id_discipline=discipline.id id_lesson=sugestion.id %}">
									{{ sugestion.get_title }}
								</a>
							</li>
						{% empty %}
							<h5>{% trans "It has no sugestions." %}</h5>
						{% endfor %}
					</ul>
					{% elif not question and lesson_complete == False %}
					<div class="jumbotron">
						<h2 class="align-center">{% trans "There are no questions for this lesson" %}.</h2>
						<br/>
						<br/>
					</div>
					{% else %}
					<div class="container-fluid">
						<div class="row">
							<h1>{% trans "There was an error loading the questions" %}.</h1>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="cell colspan2">
			<div class="card">

				<h3 class="align-center page-title">{% trans "Your Progress" %}</h3>
				
				<div class="padding10">
					<p>
						{% trans "Experience Level:" %} <span class="{{ experience_level.get_class_css }}">{{ experience_level.get_level }}</span>
					</p>
				</div>
				<div class="align-center">
					<div class="padding30">
						<img src="{{ experience_level.get_image_url }}" >
					</div>
					
					<div class="rating large" data-size="large">
						{% for i in 5|range %}
							{% if forloop.counter <= student_experience.get_stars %}
								<span class="star on"></span>
							{% else %}
								<span class="star off"></span>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block modals %}
	{% if question %}
		{% ifnotequal question.get_help|length 0 %}
			{% include "askmath/content/question/_dialog_help.html" %}
		{% endifnotequal %}

		{% if studentlessonstate.get_skipped_questions %}
			{% include "askmath/content/question/_dialog_skipped_questions.html" %}
		{% endif %}

		{% if studentlessonstate.get_remaining_jump > 0 %}
			{% include "askmath/content/question/_dialog_jump.html" %}
		{% endif %}

		{% if occur_obstacle or deficiencies %}
			{% include "askmath/content/question/_dialog_obstacle.html" %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block stylesheet %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}

{% block scripts %}
	{% if occur_obstacle %}
		<script>
			showDialog('#dialog_obstacle');
		</script>
	{% endif %}
{% endblock %}