{% extends 'askmath/content/lesson/content_view_lesson.html' %}

{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="/home/content/questions/view_inicial_details/discipline={{ discipline.id }}/lesson={{ lesson.id }}/">
			<span class="icon mif-list-numbered"></span> <span>{% trans "Questions" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="container-fluid">
<section>
	{% if lesson.get_questions_visibles|length == 0 %}
	<div class="container">
	{% else %}
	<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	{% endif %}
	{% block container-left %}
		<center class="bg-white-opacity">
			<h4>
				{% trans "Your level of experience is:" %} <span class="{{ experience_level.get_class_css }}">{{ experience_level.get_level }}</span>
			</h4>
			<img src="{{ experience_level.get_image_url }}" class="img img-responsive img-avatar">
			<div class="rating large" data-size="large">
				{% for i in 10|range  %}
					{% if forloop.counter <= studentexperience.stars %}
						<span class="star on"></span>
					{% else %}
						<span class="star off"></span>
					{% endif %}
				
				{% endfor %}
			</div>
			<hr class="transparent"/>
			{% if lesson.get_questions_visibles|length == 0 %}
				<hgroup class="text-center">
					<h3>{% trans "This lesson does not have questions!!!" %}</h3>
				</hgroup>
			{% elif studentlessonstate.get_percentage_completed == 100%}
				<hgroup class="text-center">
					<h3>{% trans "Congratulations, you have completed this lesson !!!" %}</h3>
					<h4>{% trans "You can redo this lesson by clicking the button below or next to some of the lessons recommended in the table below." %}</h4>
				</hgroup>
			{% else  %}
				<hgroup class="text-center">
					<h3>{% trans "Complete this lesson and gain experience to level up !!!" %}</h3>
					<h4>{% trans "It is recommended that you have completed some other lessons like to proceed to this, these lessons you can find in the table below." %}</h4>
				</hgroup>
			{% endif %}
			<br/>
			{% if lesson.get_questions_visibles|length > 0 %}
				{% if studentlessonstate.get_percentage_completed < 100 %}	
					<a id="btn-starter-lesson" class="btn" href="/home/content/questions/view_question/discipline={{discipline.id }}/lesson={{ lesson.id }}/">
					{% if studentlessonstate.get_percentage_completed == 0 %}	
						{% trans "Start Lesson" %}
					{% else %}
						{% trans "Continue Lesson" %}
					{% endif %}
					</a>
				{% else %}
					<a id="btn-starter-lesson" class="btn" href="/home/content/questions/reset_lesson/discipline={{discipline.id }}/lesson={{ lesson.id }}/">{% trans "Reset Lesson" %}</a>
				{% endif %}
			{% endif %}
		</center>
		<br/>
	{% endblock %}
	</div>
</section>

<aside>
	{% if lesson.get_questions_visibles|length > 0 %}
		<div class="col-xs-12 col-sm-5  col-md-3 col-lg-3">
			<div class="container-fluid">
				<div class="row">
				{% block container-rigth %}
					<div class="panel width">
						<div class="heading text-center">
							<span class="title">{% trans "Progress" %}</span>
						</div>
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<center>
										<div class="icon-lesson-progress">
											<p class="v-center">
												{{ studentlessonstate.get_percentage_completed }}%
											</p>
										</div>
										<table class="table table-bordered table-condensed text-center">
											<tr>
												<td>{% trans "Scores" %}</td>
												<td>{% trans "Correct Questions" %}</td>
												<td>{% trans "Skipped Remaining" %}</td>
											</tr>
											<tr>
												<td>{{ studentlessonstate.get_scores }}</td>
												<td>{{ studentlessonstate.get_answered_correct_questions|length }}/{{ lesson.get_questions_visibles|length }}</td>
												<td>{{ studentlessonstate.get_remaining_jump }}</td>
											</tr>
										</table>
									</center>

									{% if studentlessonstate.get_percentage_completed == 100 %}
										<h5>{% trans "Sugestions next lessons:" %}</h5>
										<ul>
										{% for sugestion in lesson.get_sugestions %}
											<li>
												<a class="lead fg-lightTeal" href="/home/content/lessons/view/discipline={{ discipline.id }}/lesson={{ sugestion.id }}/">
												{{ sugestion.get_title }}
												</a>
											</li>
										{% empty %}
											<h5>{% trans "It has no sugestions." %}</h5>
										{% endfor %}
										</ul>
									{% else %}
										<h5>{% trans "Requirements recommended:" %}</h5>
										<ul>
										{% for requirement in lesson.get_requirements %}
											<li>
												<a class="lead  fg-lightTeal" href="/home/content/lessons/view/discipline={{ discipline.id }}/lesson={{ requirement.id }}/">
												{{ requirement }}
												</a>
											</li>
										{% empty %}
											<h5>{% trans "It has no requirements." %}</h5>
										{% endfor %}
										</ul>
									{% endif %}
								</div>
							</div>	
						</div>
					</div>
				{% endblock %}
				</div>
			</div>
		</div>
	{% endif %}
</aside>
</div>
{% endblock %}