{% extends 'askmath/content/lesson/content_view_lesson.html' %}

{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_question_view' id_discipline=discipline.id id_lesson=lesson.id %}">
			<span class="icon mif-list-numbered"></span> <span>{% trans "Questions" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan10">
			<div class="card block-shadow">
				<h3 class="align-center page-title no-margin">
					{% blocktrans with lesson=lesson %}Questions of {{ lesson }}{% endblocktrans %}
				</h3>
				

				{% if lesson.get_questions_visibles|length > 0 %}			

				<table id="question_status" class="table striped border bordered cell-hovered  no-margin  align-center">
					<tr>
						<td>{% trans "Lesson Points" %} : {{ studentlessonstate.get_scores }}</td>
						<td>{% trans "Correct Questions" %} : {{ studentlessonstate.get_answered_correct_questions|length }}/{{ lesson.get_questions_visibles|length }}</td>
						<td>{% trans "Skipped Remaining" %} : {{ studentlessonstate.get_remaining_jump }}</td>
					</tr>
				</table>
				
				<div class="meter  bg-grayLight">
					<span class="align-center fg-white" style="width: {{ studentlessonstate.get_percentage_completed }}%">{{ studentlessonstate.get_percentage_completed }}%</span>
				</div>

				{% endif %}

				<div class="padding10">

					{% if question and lesson_complete == False %}
					
					{% include "askmath/content/question/_render_question.html" %}
					
					{% elif not question and lesson_complete %}
					<div class="jumbotron">
						
						<h2 class="align-center">{% trans "Congratulations, complete lesson !!!" %}</h2>
						
						<div class="align-center margin30">
							<a  class="button success" href="{% url 'askmath:content_question_reset_lesson' id_discipline=discipline.id id_lesson=lesson.id %}">
								{% trans "Reser Lesson" %}
							</a>
						</div>
					
					</div>
					<hr class="divider bg-grayLight">
					<h4>{% trans "Sugestions next lessons:" %}</h4>

					<ul>
						{% for sugestion in lesson.get_sugestions %}
							<li>
								<a class="tag  {{ sugestion.color }} fg-white"
								   href="{% url 'askmath:content_lesson_view' id_discipline=discipline.id id_lesson=sugestion.id %}">
									{{ sugestion.get_title }}
								</a>
							</li>
						{% empty %}
							<h5>{% trans "It has no sugestions." %}</h5>
						{% endfor %}
					</ul>
					{% elif not question and lesson_complete == False %}
					<div class="jumbotron">
						<h2 class="align-center">{% trans "There are no questions for this lesson" %}.</h2>
						<br/>
						<br/>
					</div>
					{% else %}
					<div class="container-fluid">
						<div class="row">
							<h1>{% trans "There was an error loading the questions" %}.</h1>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="cell colspan2">
			<div class="card block-shadow">

				<h3 class="align-center page-title">{% trans "Your Progress" %}</h3>
				
				<div class="padding10">
					<label>{% trans "You level:" %}</label>
					<div class="align-center">
						<img src="{{ experience_level.get_image_url }}" >
						
						<div class="rating large" data-size="large">
							{% for i in 5|range %}
								{% if forloop.counter <= student_experience.get_stars %}
									<span class="star on"></span>
								{% else %}
									<span class="star off"></span>
								{% endif %}
							{% endfor %}
						</div>
					</div>

					<table class="width">
						<tr>
							<td class="align-left">{% trans "New Points:" %}</td>
							<td>
								<label class="tag no-margin {% if student_experience.get_new_scores >= 0 %}success{% else %}alert{% endif %}">{{ student_experience.get_new_scores|show_signal_number }}</label>
							</td>
						</tr>
						<tr>
							<td class="align-left">{% trans "All Points:" %}</td>
							<td>
								<label class="tag info">{{ student_experience.get_full_scores }}</label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block modals %}
	{% if question %}
		{% ifnotequal question.get_help|length 0 %}
			{% include "askmath/content/question/_dialog_help.html" %}
		{% endifnotequal %}

		{% if studentlessonstate.get_skipped_questions %}
			{% include "askmath/content/question/_dialog_skipped_questions.html" %}
		{% endif %}

		{% if studentlessonstate.get_remaining_jump > 0 %}
			{% include "askmath/content/question/_dialog_jump.html" %}
		{% endif %}

		{% if occur_obstacle or deficiencies %}
			{% include "askmath/content/question/_dialog_obstacle.html" %}
		{% endif %}
	{% endif %}
{% endblock %}


{% block scripts %}
	{% include 'askmath/latex/support.html' %}
	
	{% if occur_obstacle %}
		<script>
			showDialog('#dialog_obstacle');
		</script>
	{% endif %}

{% endblock %}