{% load i18n %}
<div class="modal fade" id="quantity_items">
  <div class="modal-dialog modal-sm">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">{% trans "How many items this issue have?" %}</h4>
	  </div>
	  <div class="modal-body">
			<table class="table hovered border bordered bg-white">
				<thead>
					<tr>
						<td>{% trans "Item:" %}</td>
						<td>{% trans "Deficiencys:" %}</td>
					</tr>
				</thead>
				<tbody>
				{% for item in question.get_items %}
					{% if item.is_correct %}
					<tr class="success">
					{% else %}
					<tr>
					{% endif %}
						<td>{{ item.get_description|safe|linebreaksbr }}</td>
						<td>
							{% for deficiency in item.get_deficiencys %}
				        		{{ deficiency }}
				        		{% if not forloop.counter == item.get_deficiencys|length %}
			        			,
			        			{% endif %}
			        		{% empty %}
			        			{% trans "NULL" %}
				        	{% endfor %}
			        	</td>
					</tr>
				{% empty %}
				{% endfor %}
				</tbody>
			</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="button primary" data-dismiss="modal">{% trans "Cancel" %}</button>
		<button type="submit" class="button success">{% trans "Submit" %}</button>
	  </div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->