{% load i18n %}

<div class="list-group">
	<div class="list-group-item">
		<h4 class="list-group-item-heading">{% trans "Description:" %}</h4>
		<p class="list-group-item-text">{{ question.get_description|safe|linebreaksbr }}</p>
	</div>
	
	<div class="list-group-item">
		<h4 class="list-group-item-heading">{% trans "Help:" %}</h4>
		<p class="list-group-item-text">{{ question.get_help|safe|linebreaksbr }}</p>
	</div>
	
	<div class="list-group-item">
		<h4 class="list-group-item-heading">{% trans "Scores:" %}</h4>
		<p class="list-group-item-text">{{ question.get_scores }}</p>
	</div>
	
	<div class="list-group-item">
		<h4 class="list-group-item-heading">{% trans "Is Visible:" %}</h4>
		<p class="list-group-item-text">{{ question.is_visible }}</p>
	</div>
</div>

<h3 class="text-center">{% trans "Items of question" %}</h3>
<hr class="thin bg-grayLighter">
<table class="table hovered border bordered bg-white">
	<thead>
		<tr>
			<td>{% trans "Description:" %}</td>
			<td>{% trans "Deficiencys:" %}</td>
		</tr>
	</thead>
	<tbody>
	{% for item in question.get_items %}
		{% if item.is_correct %}
		<tr class="success">
		{% else %}
		<tr>
		{% endif %}
			<td>{{ item.get_description|safe|linebreaksbr }}</td>
			<td>
				{% for deficiency in item.get_deficiencys %}
	        		{{ deficiency }}
	        		{% if not forloop.counter == item.get_deficiencys|length %}
        			,
        			{% endif %}
        		{% empty %}
        			{% trans "NULL" %}
	        	{% endfor %}
        	</td>
		</tr>
	{% empty %}
	{% endfor %}
	</tbody>
</table>