{% extends 'askmath/manager/lesson/manager_view_lesson.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if lesson %}
	<li>
		<a href="{% url 'askmath:manager_question_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
			<span class="icon mif-list-numbered"></span> <span>{% trans "Questions" %}</span>
		</a>
	</li>
	{% endif %}
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title">{% blocktrans with lesson=lesson.get_title %}Questions of {{ lesson }}{% endblocktrans %}</h3>
	
	<div class="padding10">
		{% if perms.askmath.write_question %}
		<div class="cell">
				<a class="image-button success dropdown-toggle">
					<span class="icon mif-plus"></span>
					{% trans "New  Question" %}
				</a>
				<ul class="d-menu compact" data-role="dropdown" data-no-close="true">
					<label class="align-center">{% trans "Amount of items" %}</label>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=2 %}">2</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=3 %}">3</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=4 %}">4</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=5 %}">5</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=6 %}">6</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=7 %}">7</a></li>
				</ul>
				
				{% if perms.askmath.write_question %}
				<a class="image-button info" href="{% url 'askmath:manager_question_sort' id_lesson=lesson.id  id_discipline=discipline.id %}" >
					<span class="icon mif-list-numbered"></span>
					{% trans "Sort" %}
				</a>
				{% endif %}

				{% if is_removed %}
				<a class="image-button warning" href="{% url 'askmath:manager_question_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
					<span class="icon mif-undo"></span>
					{% trans "Close Dump" %}
				</a>
				{% else %}
				<a class="image-button warning" href="{% url 'askmath:manager_question_view_removed' id_lesson=lesson.id  id_discipline=discipline.id %}">
					<span class="icon mif-bin"></span>
					{% trans "Open Dump" %}
				</a>
				{% endif %}
		</div>
		{% endif %}



		<table  class="dataTable border bordered">
			<thead>
				<tr>
					<td width="5px">{% trans "Position" %}</td>
					<td>{% trans "Description" %}</td>
					<td width="5px">{% trans "Visible" %}</td>
				</tr>
			</thead>
			<tbody>
			{% for question in questions %}
			<tr>
				<td>{{ question.get_position }}</td>
				<td>
					<a href="{% url 'askmath:manager_question_view' id_discipline=discipline.id id_lesson=lesson.id id_question=question.id  %}">
					{{ question.get_description|truncatechars:"255" }}
					</a>
				</td>
				<td>
					{% if question.is_visible %}
						<button class="cycle-button mini-button success">
							<span class="mif mif-checkmark"></span>
						</button>
					{% else %}
						<button class="cycle-button mini-button danger">
							<span class="mif mif-cross"></span>
						</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
