{% extends 'askmath/manager/lesson/manager_view_lessons.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if lesson %}
	<li>
		<a href="{% url 'askmath:manager_question_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
			<span class="icon mif-list-numbered"></span> <span>{% blocktrans with lesson=lesson.get_title %}Questions of {{ lesson }}{% endblocktrans %}</span>
		</a>
	</li>
	{% endif %}
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title">{% blocktrans with lesson=lesson.get_title %}Questions of {{ lesson }}{% endblocktrans %}</h3>
	
	<div class="padding10">
		{% if perms.askmath.write_question %}
		<div class="cell">
				<a class="button success dropdown-toggle">
					<span class="icon mif-plus"></span>
					{% trans "Create" %}
				</a>
				<ul class="d-menu compact" data-role="dropdown" data-no-close="true">
					<label class="align-center">{% trans "Amount of items" %}</label>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=2 %}">2</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=3 %}">3</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=4 %}">4</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=5 %}">5</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=6 %}">6</a></li>
				 	<li><a href="{% url 'askmath:manager_question_add' id_lesson=lesson.id id_discipline=discipline.id quantity_items=7 %}">7</a></li>
				</ul>

				<a id="button-question-edit" href="#" class="image-button primary">
					<span class="icon mif-pencil"></span>
					{% trans "Edit" %}
				</a>
				{% if is_removed %}
				<a id="button-question-restore" href="#" class="image-button info">
					<span class="icon mif-history"></span>
					{% trans "Restore" %}
				</a>
				{% else %}
				<a id="button-question-delete" href="#" class="image-button danger">
					<span class="icon mif-minus"></span>
					{% trans "Delete" %}
				</a>
				{% endif %}
				{% if perms.askmath.write_question %}
				<a id="button-question-sort" class="image-button info" href="{% url 'askmath:manager_question_sort' id_lesson=lesson.id  id_discipline=discipline.id %}" >
					<span class="icon mif-list-numbered"></span>
					{% trans "Sort" %}
				</a>
				{% endif %}

				{% if is_removed %}
				<a class="image-button warning" href="{% url 'askmath:manager_question_view' id_lesson=lesson.id  id_discipline=discipline.id %}">
					<span class="icon mif-undo"></span>
					{% trans "Close Dump" %}
				</a>
				{% else %}
				<a class="image-button warning" href="{% url 'askmath:manager_question_view_removed' id_lesson=lesson.id  id_discipline=discipline.id %}">
					<span class="icon mif-bin"></span>
					{% trans "Open Dump" %}
				</a>
				{% endif %}
		</div>
		{% endif %}



		<table  class="dataTable border bordered">
			<thead>
				<tr>
					{% if perms.askmath.write_question %}
					<td style="width: 10px"></td>
					{% endif %}
					<td>{% trans "Position" %}</td>
					<td>{% trans "Description" %}</td>
					<td>{% trans "Scores" %}</td>
					<td>{% trans "Visible" %}</td>
				</tr>
			</thead>
			<tbody>
			{% for question in questions %}
			<tr>
				{% if perms.askmath.write_question %}
				<td>
					<label class="input-control radio small-check no-margin">
						<input type="radio" question_id="{{ question.id }}" lesson_id="{{ lesson.id }}" discipline_id="{{ discipline.id }}" name="radio_question">
						<span class="check"></span>
					</label>
				</td>
				{% endif %}
				<td class="sortable-column">{{ question.get_position }}</td>
				<td class="sortable-column">
					<a href="{% url 'askmath:manager_question_view' id_discipline=discipline.id id_lesson=lesson.id id_question=question.id  %}">
					{{ question.get_description|truncatechars:"255" }}
					</a>
				</td>
				<td class="sortable-column">{{ question.get_scores }}</td>
				<td>
					{% if question.is_visible %}
						<button class="cycle-button mini-button success">
							<span class="mif mif-checkmark"></span>
						</button>
					{% else %}
						<button class="cycle-button mini-button danger">
							<span class="mif mif-cross"></span>
						</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
