{% extends 'askmath/manager/question/manager_view_questions.html' %}

{% load i18n %}

{%  block content %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan8">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% blocktrans with lesson=lesson.get_title %}Sort Questions of {{ lesson }}{% endblocktrans %}</h3>
				<div class="padding20">
					<div id="list_questions_sort" class="listview bg-white fg-dark" data-role="listview">
					{% csrf_token %}
					{% for question in questions %}
					<div class="list cursor-move bg-lightBlue fg-white border" value={{ question.id }}>
						<span class="list-icon ">{{  question.get_position }}</span>
						<span class="list-title">{{ question.get_description|safe|linebreaksbr|truncatewords:20 }}</span>
					</div>
					{% empty %}
					<h3 class="align-center">{% trans "Not Questions Found" %}</h3>
					{% endfor %}
					</div>
					<br>
					<button onclick="sortQuestions();" class="image-button primary" >
						<span class="icon mif-checkmark"></span>
						{% trans "Submit" %}
					</button>
				</div>
			</div>
		</div>
		
		<div class="cell colspan4">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Informations" %}</h3>
				<div class="padding10">
					<ul>
						<li>{% trans "Drag the issues to put them in the order you want." %}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
