{% extends 'askmath/manager/question/manager_view_question.html' %}
{% load i18n %}

{%  block content_right %}
	<hr class="thin bg-grayLighter">
	{% include 'askmath/utils/_box_latex.html' %}
	
	<div class="container">
		<form  class="form form-generic" action="." method="post" enctype="multipart/form-data" role="form">
			{% csrf_token %}
			<h2 class="form-signin-heading text-center ">{{ title_form }}</h2>
			{% with form=form_question %}
				{% include "askmath/_render_form.html" %}
			{% endwith %}
			{% for form in forms_items  %}
			 <hr class="thin bg-grayLighter">
				<h3 class="text-center">{% trans "Item" %} {{ form.prefix }}</h3>
				{% include "askmath/_render_form.html" %}
			{% endfor %}
			<div class="text-right">
				<a type="cancel" onclick="window.history.back();" class="image-button button-default">
					{% trans "Cancel" %}
					<span class="icon mif-cancel"></span>
				</a>
				<button type="submit" class="image-button button-primary">
					{% trans "Submit" %}
					<span class="icon mif-checkmark"></span>
				</button>
			</div>
		</form>
	</div>
{% endblock %}
