{% extends 'askmath/manager/question/manager_view_questions.html' %}

{% load i18n %}

{%  block content %}

<div class="row">
	<div class="col-md-8">
		<h3 class="text-center page-title">{% blocktrans with lesson=lesson.get_title %}Sort Questions of {{ lesson }}{% endblocktrans %}</h3>
		<div class="bg-grayLighter padding20">
			<div id="list_questions_sort" class="listview bg-white fg-dark" data-role="listview">
			{% csrf_token %}
			{% for question in questions %}
			<div class="list cursor-move bg-lightBlue fg-white border" value={{ question.id }}>
				<span class="list-icon ">{{  question.get_position }}</span>
				<span class="list-title">{{ question.get_description|safe|linebreaksbr|truncatewords:20 }}</span>
			</div>
			{% empty %}
			<h3 class="text-center">{% trans "Not Questions Found" %}</h3>
			{% endfor %}
			</div>
			<br>
			<button onclick="sortQuestions();" class="image-button primary" >
				{% trans "Submit" %}
				<span class="icon mif-checkmark"></span> 
			</button>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center page-title">{% trans "Informations" %}</h3>
		<div class="bg-grayLighter padding10">
			<ul>
				<li>* Esses campos sãorqueridos</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}


{% block stylesheet %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
