{% extends 'askmath/manager/question/manager_view_questions.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if question %}
	<li><a href="/home/manager/questions/view/lesson={{ lesson.id }}/question={{ question.id }}/"><span class="icon mif-list-numbered"></span> <spam class="hidden-xs">{{ question|truncatechars:"30" }}</spam></a></li>
	{% endif %}
{% endblock %}


{%  block content %}
<div class="cell padding10">
	{% if perms.askmath.write_question %}
		<a href="/home/manager/questions/edit/lesson={{lesson.id}}/question={{ question.id }}/" class="button primary" ><span class="mif-pencil"></span>{% trans " Edit" %}</a>
		{% if question.exists %}
		<a href="/home/manager/questions/remove/lesson={{lesson.id}}/question={{ question.id }}/" class="button danger" ><span class="mif-cross"></span>{% trans " Remove" %}</a>
		{% endif %}
		{% if not question.exists %}
		<a href="/home/manager/questions/restore/lesson={{lesson.id}}/question={{ question.id }}/" class="button warning" ><span class="mif-history"></span>{% trans " Restore" %}</a>
		{% endif %}
	{% endif %}
</div>

<div class="container">
	{% include "askmath/manager/question/_render_question.html" %}
</div>

{% endblock %}
