{% extends 'askmath/manager/question/manager_view_questions.html' %}
{% load i18n %}

{%  block content %}
<div class="tile-content">

<div class="cell padding10">
	<a href="/home/manager/questions/view/lesson={{ lesson.id }}/" class="button info" ><span class="mif-arrow-left"></span>{% trans " Back" %}</a>
	<hr class="thin bg-grayLighter">

	<div class="container-fluid">
	<form  class="form form-generic" action="." method="post" enctype="multipart/form-data" role="form">
		{% csrf_token %}
		<h2 class="form-signin-heading text-center ">{{ title_form }}</h2>
		<hr class="colorgraph">
		{{ form_question }}
		{% for form_item in forms_items  %}
		 <hr class="thin bg-grayLighter">
			<h3>{% trans "Item " %}{{ form_item.prefix }}</h3>
			{{ form_item }}
		{% endfor %}
		<hr class="colorgraph">
		<div class="text-left">
			<button type="cancel" class="button primary" onclick="window.history.back()" ><span class="mif-cancel"></span>{% trans " cancel" %}</button>
			<button type="submit" class="button success" ><span class="mif-checkmark"></span>{% trans " Submit" %}</button>
		</div>
	</form>
</div>
</div>



</div>
{% endblock %}
