{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/authentication/login/"><span class="icon mif-enter"></span> <spam>{% trans "Sign In" %}</spam></a></li>
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-4 col-md-offset-4">
    <form class="form form-generic" action="/authentication/login/" method="POST" role="form">
   		{% csrf_token %}
      	<h3 class="form-signin-heading text-center ">  {% trans "Sign In" %}</h3>
      	<hr class="colorgraph">
		{% include "askmath/_render_form.html" %}
		<hr class="colorgraph">
      	<button class="button success btn-block" type="submit">{% trans "Sign In" %}</button>
		<a  href="/authentication/signup/" >{% trans "New User? Sign-up..." %}</a><br>
		<a href="/authentication/recover_password/">{% trans "Recover Password" %}</a>
    </form>
</div>
</div>
{% endblock %}