{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/authentication/options/"><span class="icon mif-lock"></span> <spam>{% trans "Authentication" %}</spam></a></li>
{% endblock %}

{% block content %}

{% include 'nocaptcha_recaptcha/script_include.html' with multiple_recaptcha=True %}

<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-offset-4">
    <div class="tabcontrol" data-role="tabControl">
    	<ul id="menu-options" class="tabs">
            <li><a href="#frame_sign_in">{% trans "Sign In" %}</a></li>
            <li><a href="#frame_sign_up">{% trans "Sign Up" %}</a></li>
            <li><a href="#frame_recover_password">{% trans "Recover Password" %}</a></li>
        </ul>
    
        <div class="frames">
            <div class="frame" id="frame_sign_in">
           		{% with form_signin as form %}
           		{% if next %}
				<form action="/authentication/options/?next={{next}}" method="post" role="form">
				{%else%}
				<form action="/authentication/options/" method="post" role="form">
				{% endif %}
			    {% csrf_token %}
			        <h2 class="text-light text-center">{% trans "Sign In" %}</h2>
			        <hr class="thin"/>
			        <input type="hidden" name="next" value="{{ request.GET.next }}" />
			        <input type="hidden" name="option" value="sign_in">
			        {% include "askmath/_render_form.html" %}
			        <div class="form-actions">
						<button type="submit" class="button image-button btn-block button-primary">
							{% trans "Sign In" %}
							<span class="icon mif-enter"></span>
						</button>
			        </div>
			    </form> 
			    {% endwith %}
            </div>
            <div class="frame" id="frame_sign_up">
				{% with form_signup as form %}
				<form  action="/authentication/options/" method="POST" enctype="multipart/form-data" onSubmit="return validateSigup();" role="form">
			    {% csrf_token %}
			        <h2 class="text-light text-center">{% trans "Sign Up" %}</h2>
			        <hr class="thin"/>
			        <input type="hidden" name="option" value="sign_up">			
    				 {% include "askmath/_render_form.html" %}
			        <div class="col-md-6">
			        <div class="row">
		            	<div class="input-control full-size">
						    <select name="type"  id="select-signup" class="full-size">
							    <option value="STUDENT">{% trans "STUDENT" %}</option>
					            <option value="ASSISTANT">{% trans "ASSISTANT" %}</option>
					            <option value="TEACHER">{% trans "TEACHER" %}</option>
					            <option value="ADMINISTRATOR">{% trans "ADMINISTRATOR" %}</option>
						    </select>
						</div>
					</div>
					</div>
					<div class="col-md-6">
					<div class="row">
						<div class="input-control text" data-role="input">
				            <input id="input-key" name="key" placeholder="{% trans "Enter your key" %}" disabled type="text"></input>
				            <button class="button helper-button clear"><span class="mif-cross"></span></button>
				        </div>
				    </div>
			        </div>
			        <br />
			        <br />
			        <label class="switch">
					    <input type="checkbox" required>
					    <span class="check"></span>
					    <span class="text-right">
					    	{% blocktrans %}By clicking here, you agree to the <a href="/terms/" >Terms and Conditions</a> set out by this site, including our Cookie Use.{% endblocktrans %}
					    </span>
					</label>
					<div id="recaptcha2"></div>
					<br />
					<div class="form-actions">
						<button type="submit" class="button image-button btn-block button-primary">
							{% trans "Sign Up" %}
							<span class="icon mif-enter"></span>
						</button>
			        </div>
			    </form>
			{% endwith %}            
            </div>
            <div class="frame" id="frame_recover_password">
           		{% with form_recover_password as form %}
           		<form action="/authentication/options/" method="POST" role="form">
			    {% csrf_token %}
			    	<h2 class="text-light text-center">{% trans "Recover Password" %}</h2>
			        <hr class="thin"/>
			        <input type="hidden" name="option" value="recover_password">		        
			        {% include "askmath/_render_form.html" %}
			        <div class="form-actions">
			        	<button type="submit" class="image-button btn-block button-primary">
							{% trans "Recover" %}
							<span class="icon mif-history"></span>
						</button>
			        </div>
			    </form>
			    {% endwith %}
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}