{% extends 'askmath/authentication/login.html' %}

{% load i18n %}

{% block content %}
<div class="container">
    <form class="form form-signin" action="/authentication/recover_password/" method="POST" role="form">
   		{% csrf_token %}
      	<h2 class="form-signin-heading text-center ">  {% trans "Recover Password" %}</h2>
      	<hr class="colorgraph">
		
		{% include "askmath/_render_form.html" %}
		
      	<hr class="colorgraph">
      	<div class="row">
			<div class="col-xs-12 col-md-6">				
				<a href="/authentication/login/"  type="cancel" class="button primary btn-block" >{% trans "Cancel" %}</a>
			</div>
			<div class="col-xs-12 col-md-6">
				<button class="button success btn-block" type="submit">{% trans "Recover" %}</button>
			</div>
		</div>
    </form>
</div>

{% endblock %}