{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/authentication/recover_password/"><span class="icon mif-history"></span> <spam>{% trans "Recover Password" %}</spam></a></li>
{% endblock %}


{% block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
	    <form class="form form-generic" action="/authentication/recover_password/" method="POST" role="form">
	   		{% csrf_token %}
	      	<h3 class="form-signin-heading text-center ">  {% trans "Recover Password" %}</h3>
	      	<hr class="colorgraph">
			
			{% include "askmath/_render_form.html" %}
			
	      	<hr class="colorgraph">
	      	<div class="row">
				<div class="col-xs-12 col-md-6">				
					<a href="/authentication/login/"  type="cancel" class="button primary btn-block" >{% trans "Cancel" %}</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<button class="button success btn-block" type="submit">{% trans "Recover" %}</button>
				</div>
			</div>
	    </form>
	</div>
</div>
{% endblock %}