{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/authentication/signup/"><span class="icon mif-clipboard"></span> <spam>{% trans "Register" %}</spam></a></li>
{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
	<form class="form form-generic" action="/authentication/signup/" method="POST" enctype="multipart/form-data" onSubmit="return validateSigup();" role="form">
		{% csrf_token %}
		<h2 class="form-signin-heading text-center ">{{ title_form }}</h2>
		<hr class="colorgraph">
		<div class="container-fluid">
			<div class="row">
				{% include "askmath/_render_form.html" %}
			</div>
		</div>
		<div class="row">
		    <div class="col-md-6">
			    <div class="input-control select">
			        <select name="type" id="select-signup">
			            <option value="STUDENT">{% trans "Student" %}</option>
			            <option value="ASSISTANT">{% trans "Assistant" %}</option>
			            <option value="TEACHER">{% trans "Teacher" %}</option>
			            <option value="ADMINISTRATOR">{% trans "Administrator" %}</option>
			        </select>
			    </div>
		    </div>
		    <div class="col-md-6">
			    <input id="input-key" class="input-control text" name="key" placeholder="{% trans "Enter your key" %}" disabled type="text"></input>
		    </div>
	    </div>
		<br>
		<div class="container-fluid">
			<div class="row">
			<input type="checkbox" required> {% blocktrans %}By clicking here, you agree to the <a href="/terms/" >Terms and Conditions</a> set out by this site, including our Cookie Use.{% endblocktrans %}
			    </span>
			</label> 
			</div>
		</div>
		<hr class="colorgraph">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a href="/authentication/login/" class="button primary btn-block" tabindex="10">{% trans "Cancel" %}</a>
			</div>
			<div class="col-xs-12 col-md-6">
				<input type="submit" value="{% trans "Register" %}" class="button success btn-block" tabindex="9">
			</div>
		</div>
	</form>
</div>
{% endblock  %}