{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/authentication/signup/"><span class="icon mif-clipboard"></span> <spam>{% trans "Sign-Up" %}</spam></a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-4 col-md-offset-4">
		<form class="form form-generic" action="/authentication/signup/" method="POST" enctype="multipart/form-data" onSubmit="return validateSigup();" role="form">
			{% csrf_token %}
			<h3 class="form-signin-heading text-center ">{% trans "Sign-Up" %}</h3>
			<hr class="colorgraph">
			{% include "askmath/_render_form.html" %}
			<div class="row">
			    <div class="col-xs-12 col-md-6">
				    <div class="input-control full-size select">
				        <select name="type" id="select-signup">
				            <option value="STUDENT">{% trans "Student" %}</option>
				            <option value="ASSISTANT">{% trans "Assistant" %}</option>
				            <option value="TEACHER">{% trans "Teacher" %}</option>
				            <option value="ADMINISTRATOR">{% trans "Administrator" %}</option>
				        </select>
				    </div>
			    </div>
			    <div class="col-xs-12 col-md-6">
				    <input id="input-key" class="input-control full-size text" name="key" placeholder="{% trans "Enter your key" %}" disabled type="text"></input>
			    </div>
		    </div>
			<br>
			<div class="container-fluid">
				<div class="row">
				<input type="checkbox" required> {% blocktrans %}By clicking here, you agree to the <a href="/terms/" >Terms and Conditions</a> set out by this site, including our Cookie Use.{% endblocktrans %}
				    </span>
				</label> 
				</div>
			</div>
			<hr class="colorgraph">
			<button type="submit" class="button success btn-block">{% trans "Sign-Up" %}</button>
			<a href="/authentication/login/" >{% trans "Já possui uma conta? Sign-In..." %}</a>
		</form>
	</div>
</div>
{% endblock  %}