
body{
	font-family: Arial, Times, serif;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#cabecalho {
	position: relative;
	width: 100%;
	height: 20%;
}

#logo{
	posiotion: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#menu{
	position: relative;
	width: 100%;
	height: 8%;
}

#corpo{
	position: relative;
	width: 100%;
}



#conteudo{
	position: relative;
 	width: 100%;
 	height: 68%;
 	color: #4a5b62;
}

#conteudo-left{
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #FCFFCD;
 	overflow-y:auto;
}
#conteudo-right{
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #D9EDF7;
}

.conteudo-center{
	position:relative;
	width: 100%;
	height: 98%;
}

#rodape{
	position:relative;
	width: 100%;
	height: 4%;
	background-color: #337AB7;
}

.t{
	text-align: justify;
}

a{
	cursor: pointer;
}






.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.form-login{
	position: relative;
	margin-top: 1%;
	width:40%;
}

.form-login h2{
	color: #428bca;
	font-weight: bold;
}

.form-contato{
	position: relative;
	width:50%;
}

.font-dconteudo{
	position:relative;
	text-align: justify;	
	color: black;
}

.font-metro{
	position: relative;
	top: 35%;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
	color: #FFFFFF;
}




#comecar{
	position: relative;
	top: 40%;
}

.btn-group .btn{
	font-size: 100%;
	text-align: center;
}

.navbar a{
	text-align: center;
}


#barra-avancar{
	position: relative;
	width: 100%;
	height: 6%;
}
.barra-responder{
	position: relative;
	width: 100%;
	height: 15%;
}


.nav{
	height: 100%;
}

.navbar a{
	height: 100%;
	color: #FFFFFF;
}

.navbar-nav a:hover{
	color: #428bca;
}

.titulo-pergunta{
	position: relative;
	width:100%;
	height:3%;
	font-size:32px;
	color: #4a5b62;
} 
.texto-descricao{
	position: relative;
	height: 75%;
}


.pergunta-itens{
	position:relative;
	top: 10%;
	text-align: justify;
	font-size:18px;
}

#ajuda_text{
	text-align: justify;
}

.descricao-conteudo{
	position: relative;
	width:100%;
	height:95%;
}

.descricao-pergunta{
	position: relative;
	width:100%;
	height:86%;	
 	overflow-y:auto;
}


.show {
  display: block !important;
  visibility: visible;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}


#corpo{
	visibility: visible;
}

.turquoise{
	background: #1abc9c;
}

.emerald{
	background: #2ecc71;
}

.peter-river{
	background: #3498db;
}

.amethyst{
	background: #9b59b6;
}

.wet-asphalt{
	background: #34495e;
}
.green-sea{
	background: #16a085;
}

.nephritis{
	background: #27ae60;
}

.belize-hole{
	background: #2980b9;
}

.wisteria{
	background: #8e44ad;
}

.midnight-blue{
	background: #2c3e50;
}

.sun-flower{
	background: #f1c40f;
}

.carrot{
	background:#e67e22;
}

.alizarin{
	background: #e74c3c;
}

.concrete{
	background: #95a5a6;
}

.orange{
	background: #f39c12;
}

.pumpkin{
	background: #d35400;
}

.pomegranate{
	background: #c0392b;
}

.asbestos{
	background: #7f8c8d;
}



.selecionado{
	background: #ADD8E6;
	color:#000000;
}

.link{
	cursor: pointer;
}

.container-conteudo{
	position: relative;
	width:100%;
	height:100%;
	background-color: #E5E5E5;
}

.metro{
	position: relative;
	width:100%;
	height:100%;
	overflow-x:auto;
	background-color: #F8F8F8;
}

.linha{
	width:100%;
	height: 100%;
	padding: 5px;
	display:inline-flex;
}

.tile{
	width:150px;
	height:100%;
	float:left;
	cursor: pointer;
	margin: 0 5px 0 5px;
	padding:2px;
	font-size: 120%;
	text-shadow: 1px 1px 0px #000000;
	box-shadow: inset 0 0 20px #777777;
}

.tileLargo{
	width:305px;
	cursor: pointer;
}

.tile .tileLargo{
	text-align: center;
}

.tile:hover{
	box-shadow: 5px 5px 5px #4D4D4D;
}


.form-centro{
	position: relative;
	width: 50%;
	left: 30%;
	right: 70%;
}

#cont{
	color: #FFFFFF;
}

#container-metro{
	position: relative;
	height: 100%;
	height: 100%;
	top: 2%;
	bottom: 2%;
}

#linha-metro{
	position: relative;
	height: 30%;
}

.caixa-face{
	position:relative;
	right: 1%;
}

.resultado{
	position: relative;
	font-size: 300%;
	width: 30%;
	visibility: hidden;
}


.avisos-conteudo{
	position: relative;
	top: 30%;

}

.fixer-bottom{
	position: absolute;
	bottom: 5px;

}

#pontuacao-pergunta h3{
	color: #1E90FF;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000000;
}

h1{

	color: #1E90FF;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000000;	
}

#creditos{
	color: #FFFFFF;
	font-size: 125%;
}

#table-est{
	border-color: #FFFFFF;
	width: 100%;
}

.table-responsive table{
	background-color: #ADD8E6;
}

#requisitos{
	height: 60%;
	overflow: auto;
}

.tela-opcoes-1{
	width: 24%;
}
.tela-opcoes-2{
	width: 44%;
}

.tela-opcoes-3{
	width: 64%;
}

.tela-opcoes-4{
	width: 84%;
}

.tela-opcoes-5{
	width: 100%;
}

#tema-conteudo{
	color: #428bff;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000000;
}

#escolher_turma{
	width: 40%;
}

#point{
	font-weight: bold;
}

#point .row{
	border : 1px solid black ;
	background-color: #BFBFBF;
}