
#container-site{
	width: 98%;
	margin-left: 0%;
	margin-right: 0%;
}

#container-fluid{
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}

#creditos{
	color: #FFFFFF;
	font-size: 100%;
}

#rodape{
	width: 100%;
}
