{% load i18n %}
{% load humanize %}
<div class="padding10">
	<div class="pagepost">
		<p class="pagelink">
			<span class="pages-label">Pages: </span>
			<strong class="item1">1</strong>
		</p>
		<p class="postlink">
			<a href="/forum/topics/add/category={{ category.id }}/">{% trans "Post new topic" %}</a>
		</p>
	</div>
	<table class="table table-topic hovered border bg-white-opacity">
		<thead>
			<tr>
				<th class="topic">{% trans "Topic" %}</th>
				<th class="replies">{% trans "Replies" %}</th>
				<th class="date">{% trans "Date" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for topic in topics %}
			<tr>
				<td class="topic width">
					<div class="icon"></div>
						<div class="details">
							<h5 class="title">
								<a href="/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/">{{ topic.get_title }}</a> <span>{% trans "by" %} {{ topic.person }}</span>
							</h5>
						</div>
					</div>
				</td>
				<td class="replies">{{ topic.get_comments|length }}</td>
				<td class="date">
					{{ topic.creation|naturaltime }}	
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
