{% extends "askmath/forum/forum_home.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super  }}
	<li><a href="/home/forum/"><span class="icon mif-bubbles"></span> <spam>{% trans "Forum" %}</spam></a></li>
{% endblock %}

{% block tiles %}
<div class="tile-group">
	<span id="index" class="tile-group-title">{% trans "Categories" %}</span>
	{% for category in categories %}
         <div class="tile-wide {{ category.color }}">
		    <a href="/home/content/lessons/view/discipline={{ category.id }}/" class="tile-content slide-down iconic">
		        <span class="icon mif-bubbles"></span>
		        <div class="tile-label">
		            {{ category.get_title|title }}
		        </div>
		        <div class="slide-over bg-steel">
		        <table class="text-center fill">
		        	<tr>
		        		<td>{% trans "Topics" %} : {{ category.get_topics|length }}</td>
		        	</tr>
		        </table>
		        </div>
		    </a>
		</div>
	{% empty %}
		<h3 class="text-center">{%trans "No category found."%}</h3>
	{% endfor %}
</div>
{% endblock %}