{% extends 'askmath/forum/forum_home.html' %}
{% load i18n %}


{%  block content %}
<div class="cell padding10">
	{% if perms.askmath.write_category %}
		<a href="/forum/categories/add/" class="image-button button-success">
			{% trans "Create" %}
			<span class="icon mif-plus"></span>
		</a>
	{% if is_removed %}
		<a href="/forum/categories/view/" class="image-button button-info" data-popover="undo">
			{% trans "Undo" %}
			<span class="icon mif-undo"></span>
		</a>
	{% else %}
		<a href="/forum/categories/view_removed/" class="image-button button-warning" data-popover="dump">
			{% trans "Dump" %}
			<span class="icon mif-bin"></span>
		</a>
	{% endif %}
	{% endif %}
</div>

<div class="tile-area padding5 bg-transparent">
<div class="tile-container">
{% for category in categories %}
<div class="tile-wide {{ category.color }} fg-white" data-role="tile">
    <a href="/forum/categories/view/category={{ category.id }}/" class="tile-content iconic">
        <span class="icon mif-bubbles"></span>
        <span class="tile-label">{{ category }}</span>
        {% if not category.exists %}
        <span class="tile-badge mif-bin"></span>
        {% endif %}
    </a>
</div>
{% empty %}
<h3 class="text-center">{% trans "No Category Found" %}</h3>
{% endfor %}
</div>
</div>
{% endblock %}
