{% extends 'askmath/content/content_home.html' %}

{% load i18n %}
{% load humanize %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_ranking_view' %}">
			<span class="icon mif-trophy"></span> <span class="hidden-xs">{% trans "Ranking" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan10">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Ranking Round" %}</h3>
				<div class="padding10">
					<p class="text-accent">
						{% trans "This round ends in" %} {{  student_experience.get_date_end_new_round|naturaltime }}.
						<a href="#me"><span class="text-secondary">{% trans "My current position" %}</span></a>
					</p>	
				</div>
				<div class="listview-outlook padding10" data-role="listview">
					{% for i in students %}
						<div {% if i.student == me %}id="me"{% endif %} class="list block-shadow {% if i.student == me %}bg-lightBlue  fg-white{% else %}bg-grayLighter{% endif %}" style="margin-bottom: 10px;">
							<div class="list-content">
								<div class="flex-grid">
									<div class="row">
										<div class="cell colspan1">
											<button class="square-button small-button bg-yellow fg-white">{{ i.position }}</button>
										</div>
										<div class="cell colspan5">
											{% if i.student.get_profile_image %}
											<img style="float: left; margin-right:10px;" width="60px" src="{{ i.student.get_profile_image.url }}">
											{% else %}
											<img  style="float: left; margin-right:10px;" width="60px" src="{{ STATIC_URL }}askmath/img/metro/profile.png">   
											{% endif %}
											<span>{{ i.student.get_full_name }}</span>
										</div>
										<div class="cell colspan6">
											<div class="row flex-just-end">
												<div class="cell colspan3">
													<div class="align-center">
														<img width="50px" src="{{ i.experience_level.get_image_url }}"><br>
														<div class="rating small" data-size="small">
															{% for k in 5|range %}
																{% if forloop.counter <= i.student_experience.get_stars %}
																	<span class="star on"></span>
																{% else %}
																	<span class="star off"></span>
																{% endif %}
															{% endfor %}
														</div>
													</div>
												</div>
												<div class="cell colspan3">
													<label class="tag {% if i.student_experience.get_new_scores >= 0 %}success{% else %}alert{% endif %} align-right">{{ i.student_experience.get_new_scores|show_signal_number|default_if_none:"0" }}</label>
													<br>
													<label class="tag info align-right">{{ i.student_experience.get_full_scores|default_if_none:"0" }}</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>

		<div class="cell colspan2">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Winner" %}</h3>
				{% if last_winner %}
				<div class="padding10">
					<div class="profile image-container">
						<div class="frame">
							{% if last_winner.student.get_profile_image %}
							<img class="profile-image" src="{{ last_winner.student.get_profile_image.url }}">
							{% else %}
							<img class="profile-image" src="{{ STATIC_URL }}askmath/img/metro/profile.png">   
							{% endif %}
						</div>
						<label class="profile-name align-center">
							{{ last_winner.student.get_full_name }}
						</label>
					</div>

					<div>
						<label>{% trans "Level:" %}</label>
						<div class="align-center">
							<img width="50px" src="{{ last_winner.student.get_student_experience.get_experience_level.get_image_url }}"><br>
						
							<div class="rating small" data-size="small">
								{% for k in 5|range %}
									{% if forloop.counter <= last_winner.student.get_student_experience.get_stars %}
										<span class="star on"></span>
									{% else %}
										<span class="star off"></span>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>

					<table class="width">
						<tr>
							<td class="align-left">{% trans "All Points:" %}</td>
							<td>
								<label class="tag info">{{ last_winner.student.get_student_experience.get_full_scores|default_if_none:"0" }}</label>
							</td>
						</tr>
					</table>
				</div>
				{% else %}
				<div class="padding10">
					<p class="text-accent align-center">
						{% trans "Earn points, level up and become our new champion." %}
					</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block modals %}
	{% if new_round %}
		{% include "askmath/content/ranking/_dialog_new_round.html" %}
	{% endif %}
{% endblock %}

{% block scripts %}
	{% if new_round %}
		<script type="text/javascript">
			showDialog("#dialog_new_round");
		</script>
	{% endif %}
{% endblock %}