{% extends 'askmath/content/content_home.html' %}

{% load i18n %}
{% load humanize %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_ranking_view' %}">
			<span class="icon mif-trophy"></span> <span class="hidden-xs">{% trans "Ranking" %}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan10">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Ranking Round" %}</h3>

				<p class="text-accent padding10">{% trans "This round ends in" %} {{  student_experience.get_date_end_new_round|naturaltime}}.</p>	
				
				<div class="listview-outlook padding10" data-role="listview">
					{% for i in students %}
						<div class="list block-shadow {% if i.student == me %}bg-lightBlue fg-white{% endif %}" style="margin-bottom: 10px;">
							<div class="list-content">
								<div class="flex-grid">
									<div class="container-fluid">
										<div class="row cells12 ">
											<div class="cell ">
												<button class="square-button small-button bg-yellow fg-white">{{ i.position }}</button>
											</div>
											<div class="cell colspan7">
												{% if i.student.get_profile_image %}
												<img style="float: left; margin-right:10px;" width="60px" src="{{ i.student.get_profile_image.url }}">
												{% else %}
												<img  style="float: left; margin-right:10px;" width="60px" src="{{ STATIC_URL }}askmath/img/metro/profile.png">   
												{% endif %}
												<span>{{ i.student.get_full_name }}</span></br>
												<span class="tag success">{{ i.experience_level.get_level }}</span>
											</div>
											
											<div class="cell colspan2">
												<center>
													<img width="50px" class="img" src="{{ i.experience_level.get_image_url }}"><br>
													<div class="rating small" data-size="small">
														{% for k in 5|range %}
															{% if forloop.counter <= i.student_experience.get_stars %}
																<span class="star on"></span>
															{% else %}
																<span class="star off"></span>
															{% endif %}
														{% endfor %}
													</div>
												</center>
											</div>
											<div class="cell colspan2">
												<label class="tag success align-right">{{ i.student_experience.get_new_scores|show_signal_number|default_if_none:"0" }}</label>
												<br>
												<label class="tag info align-right">{{ i.student_experience.get_full_scores|default_if_none:"0" }}</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>

		<div class="cell colspan2">
			<div class="card block-shadow">
				<h3 class="align-center page-title">{% trans "Last Winner" %}</h3>
				{% if last_winner %}
				<div class="container-fluid">
					<div style="
						background: url('{{ STATIC_URL }}askmath/img/backgrounds/winner.png');
						background-repeat: no-repeat;
						 background-size: 100% 100%;
						">
						<div class="row" >
							<div class="padding50">
								{% if last_winner.student.get_profile_image %}
								<img  style="border-radius: 50%;"  src="{{ last_winner.student.get_profile_image.url }}">
								{% else %}
								<img style="border-radius: 50%;"  src="{{ STATIC_URL }}askmath/img/metro/profile.png">   
								{% endif %}
								<label class="align-center">
									{{ last_winner.student.get_full_name }}
								</label>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<div class="padding10">
					<h3 class="align-center">
						{% trans "Earn points, level up and become our new champion." %}
					</h3>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block modals %}
	{% if new_round %}
		{% include "askmath/content/ranking/_dialog_new_round.html" %}
	{% endif %}
{% endblock %}

{% block scripts %}
	{% if new_round %}
		<script type="text/javascript">
			showDialog("#dialog_new_round");
		</script>
	{% endif %}
{% endblock %}