{% load i18n %}
{% load humanize %}

<div class="container">

<div class="row">
<div class="panel width">
	<div class="heading {{ topic.color }}">
        <span class="icon mif-bubble"></span>
        <span class="title fg-white">{{ topic.person.get_name }}</span>
        <div class="place-right">
        	<span class="lead">
				{% blocktrans with creation=topic.creation|naturaltime  %}
					<span>{{ creation }}</span>
				{% endblocktrans %}
			</span>
			{% if request.user == topic.person %}
				<a href="/forum/topics/edit/category={{ category.id }}/topic={{ topic.id }}/"><span class="mif-pencil padding5 fg-white"></span></a>
			{% endif %}
			{% if topic.exists and perms.askmath.access_manager_forum %}
				<a href="/forum/topics/remove/category={{ category.id }}/topic={{ topic.id }}/"><span class="mif-cross padding5 fg-white"></span></a>
			{% endif %}
        </div>
    </div>
	<div class="content">
    	<div class="container-fluid">
    	<div class="row">
			<p class="lead">{{ topic.get_description|linebreaksbr }}</p>
    	</div>
    	</div>
    	<hr class="transparent" />
    	<div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-6  col-md-6">
	    		<a href="/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/" class="image-button {% if request.user in topic.get_comments_persons %}bg-green{% else %}bg-gray{% endif %} fg-white">
				    {{ topic.get_comments|length }}
				    {% if request.user in topic.get_comments_persons %}
				    <span class="icon glyphicon glyphicon-comment bg-emerald"></span>
				    {% else %}
				    <span class="icon glyphicon glyphicon-comment"></span>
				    {% endif %}
				</a>
				{% if request.user in topic.get_likes_persons %}
				<button href="/forum/topics/unlike/topic={{ topic.id }}/" class="button-like image-button bg-green fg-white">
				{% else %}
				<button href="/forum/topics/like/topic={{ topic.id }}/" class="button-like image-button bg-gray fg-white">
				{% endif %}	
				<span class="like-count">{{ topic.get_likes|length }}</span>
				{% if request.user in topic.get_likes_persons %}
		    	<span class="icon mif-thumbs-up bg-emerald"></span>
		    	{% else %}
		    	<span class="icon mif-thumbs-up"></span>
		  		{% endif %}
				</button>
			</div>
			<div class="col-sm-6 col-md-6 text-right">
				{% if topic.file %}
				<a href="{{ topic.file.url }}" target="_blank" class="image-button bg-gray fg-white">
					{% trans "Downlad File" %}
				    <span class="icon mif-folder-download"></span>
				</a>
				{% endif %}
			</div>
    	</div>
    	</div>
    </div>
</div>
</div>

{% if topic.get_comments|length %}
	{% include "askmath/forum/topic/_render_comments.html" %}
{% endif %}
<div class="row">
	<div class="bg-grayLighter width padding10">
		<div class="form-inline" role="form">
			<form class="" action="/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/" method="post" enctype="multipart/form-data" role="form">
			{% csrf_token %}
			{% include "askmath/_render_form.html" %}
		    <div class="form-group place-right">
			<button type="submit" class="button button-primary">{% trans "Comment" %}</button>
			</div>
			</form>
		</div>
	</div>
</div>

</div>