{% load i18n %}
{% load humanize %}
{% csrf_token %}
{% for comment in topic.get_comments %}
<div class="panel width">
	<div class="heading bg-lightBlue">
		<span class="icon mif-bubble"></span>
		<div class="place-right">
			<span>{{ comment.creation|naturaltime  }}</span>

			{% if request.user == comment.person %}
				<a class="comment-edit" href="#comment-{{ comment.id }}" url="{% url 'askmath:forum_comment_edit' id_category=category.id  id_topic=topic.id id_comment=comment.id  %}"><span class="mif-pencil padding5 fg-white"></span></a>
			{% endif %}
			
			{% if comment.exists and request.user == comment.person or perms.askmath.access_forum_admin %}
				<a href="{% url 'askmath:forum_comment_remove' id_category=category.id  id_topic=topic.id id_comment=comment.id  %}"><span class="mif-cross padding5 fg-white"></span></a>
			{% endif %}
		</div>
	</div>
	<div class="content">
		<div class="flex-grid">
				<div class="row">
					<div class="cell colspan1">
						<div class="profile image-container">
							<div class="frame">
								{% if comment.get_person.get_profile_image %}
								<img class="person-image"  src="{{ comment.get_person.get_profile_image.url }}">
								{% else %}
								<img class="person-image" src="{{ STATIC_URL }}askmath/img/metro/profile.png">
								{% endif %}
							</div>
							<label class="image-title fg-white align-center">
								{{ comment.get_person.get_full_name }}
							</label>
						</div>
					</div>
					<div class="cell colspan11">
						<div class="padding10">
							<p id="comment-{{ comment.id }}" class="post-description text-accent">{{ comment.get_description|linebreaksbr }}</p>
							{% if request.user in comment.get_likes_persons %}
							<button href="{% url 'askmath:forum_comment_unlike' id_comment=comment.id  %}" class="button-like button success">
							{% else %}
							<button href="{% url 'askmath:forum_comment_like' id_comment=comment.id  %}" class="button-like button info">
							{% endif %}
								<span class="icon mif-thumbs-up"></span>
								<span class="like-count">{{ comment.get_likes|length }}</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% empty %}
{% endfor %}