{% load i18n %}
{% load humanize %}
{% for comment in topic.get_comments %}
<div class="row">
<div class="panel width">
	<div class="heading bg-blue">
        <span class="title fg-white">{{ comment.person.get_name }}</span>
        {% if perms.askmath.write_comment or perms.askmath.access_forum_admin %}
        <div class="place-right">
        	<span class="lead">
				{% blocktrans with creation=comment.creation|naturaltime  %}
					<span class="tag info">{{ creation }}</span>
				{% endblocktrans %}
			</span>
        	{% if request.user == comment.person %}
				<a href="/forum/comments/edit/category={{ category.id }}/topic={{ topic.id }}/comment={{ comment.id }}/"><span class="mif-pencil padding5 fg-white"></span></a>
			{% endif %}
			{% if comment.exists and request.user == comment.person or perms.askmath.access_forum_admin %}
				<a href="/forum/comments/remove/category={{ category.id }}/topic={{ topic.id }}/comment={{ comment.id }}/"><span class="mif-cross padding5 fg-white"></span></a>
			{% endif %}
        </div>
        {% endif %}
    </div>
	<div class="content">
	    <div class="container-fluid">
	    	<div class="row">
				<p class="lead">{{ comment.get_description|linebreaksbr }}</p>
	    	</div>
    	</div>
    	<hr class="transparent" />
    	<div class="container-fluid">
	    	<div class="row">
	    		<div class="col-sm-6 col-md-6 ">
	    			{% if request.user in comment.get_likes_persons %}
					<button href="/forum/comments/unlike/comment={{ comment.id }}/" class="button-like image-button bg-green fg-white">
					{% else %}
					<button href="/forum/comments/like/comment={{ comment.id }}/" class="button-like image-button bg-gray fg-white">
					{% endif %}	
						<span class="like-count">{{ comment.get_likes|length }}</span>
						{% if request.user in comment.get_likes_persons %}
					    <span class="icon mif-thumbs-up bg-emerald"></span>
					    {% else %}
					    <span class="icon mif-thumbs-up"></span>
					    {% endif %}
					</button>
	    		</div>
	    		<div class="col-sm-6 col-md-6  text-right">
	    			{% if comment.file %}
					<a href="{{ comment.file.url }}" target="_blank" class="image-button bg-gray fg-white">
						{% trans "Downlad File" %}
					    <span class="icon mif-folder-download"></span>
					</a>
					{% endif %}
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
{% empty %}
{% endfor %}
</div>