{% extends 'askmath/forum/category/view_categories.html' %}
{% load i18n %}
{% load humanize %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if category %}
	<li>
		<a href="{% url 'askmath:forum_topic_view' id_category=category.id %}">
			<span class="icon mif-bubbles"></span> <span>{{ category }}</span>
		</a>
	</li>
	{% endif %}
{% endblock %}

{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title"><span>{{ category }}</h3>

	<div class="padding10">
		<div data-role="group" data-group-type="one-state" data-button-style="class">
			<a id="button-topic-create" class="image-button success" href="{% url 'askmath:forum_topic_add' id_category=category.id %}">
				<span class="icon mif-plus"></span>
				{% trans "Add topic" %}
			</a>
			{% if perms.askmath.access_forum_admin %}
			
			{% if is_removed %}
			<a id="button-topic-restore" class="image-button info" href="#">
				<span class="icon mif-history"></span>
				{% trans "Restore" %}
			</a>
			{% else %}
			<a id="button-topic-delete" class="image-button danger" href="#">
				<span class="icon mif-minus"></span>
				{% trans "Delete" %}
			</a>
			{% endif %}

			{% if is_removed %}
				<a class="image-button warning" href="{% url 'askmath:forum_topic_view' id_category=category.id %}">
					<span class="icon mif-undo"></span>
					{% trans "Close Dump" %}
				</a>
			{% else %}
				<a class="image-button warning" href="{% url 'askmath:forum_topic_view_removed' id_category=category.id %}">
					<span class="icon mif-bin"></span>
					{% trans "Open Dump" %}
				</a>
			{% endif %}
			
			{% endif %}
		</div>

		<table class="table dataTable border bordered">
			<thead>
				<tr>
					{% if perms.askmath.access_forum_admin %}
					<th style="width: 10px"></th>
					{% endif %}
					<th class="topics">{% trans "Topic" %}</th>
					<th class="replies">{% trans "Replies" %}</th>
					<th class="date">{% trans "Date" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for topic in topics %}
				<tr>
					{% if perms.askmath.access_forum_admin %}
					<td>
						<label class="input-control radio small-check no-margin">
							<input type="radio" category_id="{{ category.id }}" topic_id="{{ topic.id }}" name="radio_topic">
							<span class="check"></span>
						</label>
					</td>
					{% endif %}
					<td class="topic">
						<div class="icon"></div>
							<div class="details">
								<h5 class="title">
									<a href="{% url 'askmath:forum_topic_view' id_category=category.id id_topic=topic.id %}">{{ topic.get_title }}</a> <span>{% trans "by" %} {{ topic.person }}</span>
								</h5>
							</div>
						</div>
					</td>
					<td class="replies">{{ topic.get_comments|length }}</td>
					<td class="date">
						{{ topic.creation|naturaltime }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
