{% extends 'askmath/forum/topic/view_topics.html' %}
{% load i18n %}
{% load humanize %}

{% block scripts %}
	{{ block.super }}
	<script>
		setInterval(function() {
		}, 3000);
	</script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if topic %}
		<li><a href="/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/"><span class="icon mif-bubble"></span> <spam>{{ topic.get_title|truncatechars:"20" }}</spam></a></li>
	{% endif %}
{% endblock %}

{% block content %}
<div class="padding10">
{% include "askmath/forum/topic/_render_topic.html" %}	
</div>
{% endblock %}


{% block stylesheet %}
<script type="text/javascript" src="{{ STATIC_URL }}askmath/frameworks/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
{% endblock %}