{% extends 'askmath/forum/topic/view_topics.html' %}
{% load i18n %}
{% load humanize %}


{% block breadcrumbs %}
	{{ block.super }}
	{% if topic %}
		<li>
			<a href="{% url 'askmath:forum_topic_view' id_category=category.id id_topic=topic.id %}">
				<span class="icon mif-bubble"></span> <span>{{ topic.get_title|truncatechars:"20" }}</span>
			</a>
		</li>
	{% endif %}
{% endblock %}

{% block content %}
    {% include "askmath/forum/topic/_render_topic.html" %}
{% endblock %}


{% block stylesheet %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
