{% extends 'askmath/manager/person/manager_choose_person_types.html' %}
{% load i18n %}


{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_person_view' PERSONTYPE=person_type %}">
			<span class="icon mif-users"></span> <span>{{ person_type|title }}</span>
		</a>
	</li>
{% endblock %}

{%  block content %}
<div class="card">
	<h3 class="align-center page-title"><span>{{ person_type|title }}</h3>

	<div class="padding10">
		{% if perms.askmath.write_person %}
		<div class="cell">
			<a class="button success" href="{% url 'askmath:manager_person_add' PERSONTYPE=person_type %}">
				<span class="icon mif-key"></span>
				{% trans "View Keys" %}
			</a>
			{% if is_removed %}
			<a id="button-person-restore" class="button info" href="#">
				<span class="icon mif-history"></span>
				{% trans "Restore" %}
			</a>
			{% else %}
			<a id="button-person-delete"  class="button danger" href="#">
				<span class="icon mif-minus"></span>
				{% trans "Delete" %}
			</a>
			{% endif %}
			{% if is_removed %}
			<a  class="button warning" href="{% url 'askmath:manager_person_view' PERSONTYPE=person_type %}">
				<span class="icon mif-undo"></span>
				{% trans "Close Dump" %}
			</a>
			{% else %}
			<a class="button warning" href="{% url 'askmath:manager_person_view_removed' PERSONTYPE=person_type %}">
				<span class="icon mif-bin"></span>
				{% trans "Open Dump" %}
			</a>
			{% endif %}
		</div>
		{% endif %}



		<table class="dataTable border bordered">
			<thead>
				<tr>
					{% if perms.askmath.write_person %}
					<td style="width: 10px"></td>
					{% endif %}
					<td>{% trans "Name" %}</td>
					<td>{% trans "Email" %}</td>
					<td>{% trans "Profile Image" %}</td>
				</tr>
			</thead>
			<tbody>
				{% for person in persons %}
					<tr>
						{% if perms.askmath.write_person %}
						<td>
							<label class="input-control radio small-check no-margin">
								<input type="radio" person_id="{{ person.id }}" person_type="{{ person_type }}" name="radio_person">
								<span class="check"></span>
							</label>
						</td>
						{% endif %}
						<td>{{ person.get_full_name }}</td>
						<td>
							<a href="mailto:{{ person.get_email }}">
								{{ person.get_email }}
							</a>
						</td>
						<td class="align-center no-padding">
							<div class="image-container nopadding image-format-square" style="width:50px; height: 50px;">
								{% if person.get_profile_image %}
									<img alt="" src="{{ person.get_profile_image.url }}">
								{% else %}
									<img alt="" src="{{ STATIC_URL }}askmath/img/metro/profile.png">
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
