{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/home/manager/persons/choose_person_types/"><span class="icon mif-users"></span> <spam>{% trans "Persons" %}</spam></a></li>
{% endblock %}


{%  block content_right %}

<table class="dataTable border bordered" data-role="datatable">
	<thead>
		<tr>
			<td>{% trans "Type" %}</td>
			<td>{% trans "Quantity" %}</td>
			<td>{% trans "Options" %}</td>
		</tr>
	</thead>
	<tbody>
		{% for type, values in person_types.types.items %}
			<tr>
				<td>{{ type|title }}</td>
				<td>{{ values|length }}</td>
				<td>
					<a href="/home/manager/persons/view/person_type={{ type }}/">
						{% trans "See persons" %}
					</a>
				</td>
			</tr>
		{% endfor %}		
	</tbody>
</table>

{% endblock %}