{% extends 'askmath/manager/person/manager_view_persons.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/home/manager/persons/add/person_type={{ person_type }}/"><span class="icon mif-key"></span> <spam>{% trans "View Keys" %}</spam></a></li>
{% endblock %}

{%  block content_right %}	
<form action="." method="POST">
	{% csrf_token %}
	<button type="submit" class="image-button button-info">
		{% trans " Generate Key" %}
		<span class="icon mif-cog"></span>
	</button>
	<a id="button-register_key-delete" href="#" class="image-button button-danger">
		{% trans "Delete" %}
		<span class="icon mif-minus"></span>
	</a>
</form>

{% if new_register_key %}
	<h3>{%  trans "Created Key" %} : <span class="tag success">{{ new_register_key }}</span></h3>
{% endif %}	

<table class="dataTable border bordered">
	<thead>
		<tr>
			<td style="width: 10px"></td>
			<td>{% trans "Key" %}</td>
			<td>{% trans "Creator" %}</td>
			<td>{% trans "User" %}</td>
		</tr>
	<thead>
	<tbody>
		{% for register_key in register_keys %}
			<tr>
				<td>
		            <label class="input-control radio small-check no-margin">
		                <input type="radio" register_key_id="{{ register_key.id }}" person_type="{{ person_type }}"  name="radio_register_key">
		                <span class="check"></span>
		            </label>
		        </td>
				<td>{{ register_key.key }}</td>
				<td>{{ register_key.get_creator }}</td>
				<td>{{ register_key.user }}</td>
			</tr>
		{% empty %}
		{% endfor %}
	<tbody>
</table>
{% endblock %}
