{% extends 'askmath/manager/person/manager_view_persons.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if person %}
	<li><a href="/home/manager/persons/view/person_type=assistant/person={{ person.id }}/"><span class="icon mif-user"></span> <spam>{{ person.get_name }}</spam></a></li>
	{% endif %}
{% endblock %}

{%  block content_right %}
<div class="cell auto-size padding20 ">
	{% if perms.askmath.write_person %}
		{% if person.exists and write_person %}
		<a href="/home/manager/persons/remove/person_type={{ person_type }}/person={{ person.id }}/" class="image-button button-danger">
			{% trans "Remove" %}
			<span class="icon mif-cross"></span>
		</a>
		{% endif %}
		{% if not person.exists and write_person %}
		<a href="/home/manager/persons/restore/person_type={{ person_type }}/person={{ person.id }}/" class="image-button button-info">
			{% trans "Restore" %}
			<span class="icon mif-history"></span>
		</a>
		{% endif %}
	{% endif %}
</div>

{% include "askmath/manager/person/_render_person.html" %}

{% endblock %}
