{% extends "askmath/person/account/view_profile.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/home/person/account/alter_password/"><span class="icon mif-profile"></span> <spam class="hidden-xs">{% trans "Alter Password" %}</spam></a></li>
{% endblock %}


{% block content %}
<div class="container">
    <form class="form form-signin" action="/home/person/account/alter_password/" method="POST" role="form">
   		{% csrf_token %}
      	<h2 class="form-signin-heading text-center ">  {% trans "Alter Password" %}</h2>
      	<hr class="colorgraph">
		{% include "askmath/_render_form.html" %}
      	<hr class="colorgraph">
      	<div class="row">
			<div class="col-xs-12 col-md-6">				
				<a href="/home/person/account/view/"  type="cancel" class="button primary btn-block" >{% trans "Cancel" %}</a>
			</div>
			<div class="col-xs-12 col-md-6">
				<button class="button success btn-block" type="submit">{% trans "Alter" %}</button>
			</div>
		</div>
    </form>
</div>

{% endblock %}