{% extends 'askmath/manager/statistic/manager_choose_types.html' %}
{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/home/manager/statistics/lesson/choose_lesson/"><span class="icon mif-clipboard"></span> <spam>{% trans "Choose Lessons" %}</spam></a></li>
{% endblock %}


{%  block content_right %}

<div class="cell padding5">
	<h2 class="text-dark  align-center">
		{% trans "Choose Lesson" %}
	</h2>
</div>


<div class="tile-area padding10 bg-transparent">
	<div class="accordion">
		{% for discipline in disciplines %}
			{% if discipline.get_lessons_visibles %}
			<div class="frame active">
		        <div class="heading">{{ discipline.get_title|title }}</div>
		        <div class="content">
		        	<div class="tile-container">
						{% for lesson in discipline.get_lessons_visibles %}
					        <div class="tile-wide {{ lesson.color }} {% if lesson.is_visible %}element-selected{% endif %} fg-white">
							    <a href="/home/manager/statistics/lesson/view_statistics/lesson={{ lesson.id }}/" class="tile-content slide-down iconic">
							        <span class="icon mif-clipboard"></span>
							        <div class="tile-label">
							            {{ lesson.get_title|title }}
							        </div>
							        {% if not lesson.exists %}
							        <span class="tile-badge mif-bin"></span>
							        {% endif %}
							        <div class="slide-over bg-steel">
								        <table class="align-center fill">
								        	<tr>
								        		<td>{% trans "All Questions" %} : {{ lesson.get_questions_visibles|length }}</td>
								        	</tr>
								        	<tr>
								        		<td>{% trans "All Videos" %} : {{ lesson.get_videos_visibles|length }}</td>
								        	</tr>
								        </table>
							        </div>
							    </a>
							</div>
						{% empty %}
						<h3 class="align-center">{%trans "Statistics does not have lessons."%}</h3>
						{% endfor %}
					</div>
		        </div>
		    </div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
