{% extends 'askmath/index/home.html' %}
{% load i18n %}

{% block content %}
<h3 class="align-center page-title">{% trans "Site admin" %}</h3>

<div class="flex-grid">
	<div class="card">
		<div class="tile-container">
			{% if perms.askmath.access_manager_classe %}
			<div class="tile-wide bg-teal " data-role="tile">
				<a href="{% url 'askmath:manager_classe_view' %}" class="tile-content iconic">
					<span class="icon mif-organization"></span>
					<span class="tile-label">{% trans "CLASSES" %}</span>
				</a>
			</div>
			{% endif %}

			{% if perms.askmath.access_manager_discipline %}
			<div class="tile-wide bg-blue " data-role="tile">
				<a href="{% url 'askmath:manager_discipline_view' %}" class="tile-content iconic">
					<span class="icon mif-books"></span>
					<span class="tile-label">{% trans "CONTENTS" %}</span>
				</a>
			</div>
			{% endif %}

			{% if perms.askmath.access_manager_statistics %}
			<div class="tile-wide bg-yellow" data-role="tile">
				<a href="/home/manager/statistics/choose_type/" class="tile-content iconic">
					<span class="icon mif-chart-line"></span>
					<span class="tile-label">{% trans "STATISTICS" %}</span>
				</a>
			</div>
			{% endif %}
			{% if perms.askmath.access_manager_person %}
			<div class="tile-wide bg-darkBrown" data-role="tile">
				<a href="{% url 'askmath:manager_person_choose_person_types' %}" class="tile-content iconic">
					<span class="icon mif-users"></span>
					<span class="tile-label">{% trans "PERSONS" %}</span>
				</a>
			</div>
			{% endif %}

			{% if perms.askmath.access_manager_message %}
			<div class="tile-wide bg-pink" data-role="tile">
				<a href="{% url 'askmath:manager_message_view' %}" class="tile-content iconic">
					<span class="icon mif-envelop"></span>
					<span class="tile-label">{% trans "MESSAGES" %}</span>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
