{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_classe_view' %}">
			<span class="icon mif-organization"></span> <span>{% trans "Classes" %}</span>
		</a>
	</li>
{% endblock %}


{%  block content_right %}
{% if perms.askmath.write_classe %}
<div class="cell">
		<a id="button-classe-create" href="{% url 'askmath:manager_classe_add' %}" class="image-button button-success">
			{% trans "Create" %}
			<span class="icon mif-plus"></span>
		</a>
		<a id="button-classe-edit" href="#" class="image-button button-primary">
			{% trans "Edit" %}
			<span class="icon mif-pencil"></span>
		</a>
		{% if is_removed %}
		<a id="button-classe-restore" href="#" class="image-button button-info">
			{% trans "Restore" %}
			<span class="icon mif-history"></span>
		</a>
		{% else %}
		<a id="button-classe-delete" href="#" class="image-button button-danger">
			{% trans "Delete" %}
			<span class="icon mif-minus"></span>
		</a>
		{% endif %}
	
	{% if is_removed %}
		<a href="{% url 'askmath:manager_classe_view' %}" class="image-button button-warning">
			{% trans "Close Dump" %}
			<span class="icon mif-undo"></span>
		</a>
	{% else %}
		<a href="{% url 'askmath:manager_classe_view_removed' %}" class="image-button button-warning">
			{% trans "Open Dump" %}
			<span class="icon mif-bin"></span>
		</a>
	{% endif %}
</div>
{% endif %}



<table  class="dataTable border bordered">
	<thead>
		<tr>
			{% if perms.askmath.write_classe %}
			<td style="width: 10px"></td>
			{% endif %}
			<td>{% trans "Name" %}</td>
			<td>{% trans "Semester" %}</td>
			<td>{% trans "Responsible" %}</td>
			<td>{% trans "Disciplines" %}</td>
			<td style="width: 20px">{% trans "Visible" %}</td>
		</tr>
	</thead>
	<tbody>
	{% for classe in classes %}
	<tr>
		{% if perms.askmath.write_classe %}
		<td>
            <label class="input-control radio small-check no-margin">
                <input type="radio" classe_id="{{ classe.id }}" name="radio_classe">
                <span class="check"></span>
            </label>
        </td>
        {% endif %}
		<td class="sortable-column">{{ classe.get_name }}</td>
		<td class="sortable-column">{{ classe.get_semester }}</td>
		<td class="sortable-column">{{ classe.get_responsible }}</td>
		<td class="sortable-column">
			{% for discipline in classe.get_disciplines %}
				<a href="{% url 'askmath:manager_lesson_view' id_discipline=discipline.id %}" class="tag info">{{ discipline.get_title }}</a>
			{% empty %}
				{% trans "Empty" %}
			{% endfor %}
		</td>
		<td class="sortable-column">
			{% if classe.is_visible %}
				<button class="cycle-button mini-button button-success">
					<span class="mif mif-checkmark"></span>
				</button>
			{% else %}
				<button class="cycle-button mini-button button-danger">
					<span class="mif mif-cross"></span>
				</button>
			{% endif %}
        </td>
	{% endfor %}
	</tbody>
</table>
{% endblock %}