{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_classe_view' %}">
			<span class="icon mif-organization"></span> <span>{% trans "Classes" %}</span>
		</a>
	</li>
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	 <h3 class="align-center page-title">{% trans "Classes" %}</h3>
	 <div class="padding10">
		{% if perms.askmath.write_classe %}
		<div class="cell">
			<a id="button-classe-create" href="{% url 'askmath:manager_classe_add' %}" class="image-button success">
				<span class="icon mif-plus"></span>
				{% trans "New Classe" %}
			</a>
			
			{% if is_removed %}
			<a href="{% url 'askmath:manager_classe_view' %}" class="image-button warning">
				<span class="icon mif-undo"></span>
				{% trans "Close Dump" %}
			</a>
			{% else %}
			<a href="{% url 'askmath:manager_classe_view_removed' %}" class="image-button warning">
				<span class="icon mif-bin"></span>
				{% trans "Open Dump" %}
			</a>
			{% endif %}
		</div>
		{% endif %}

		<div class="tile-container">
		{% for classe in classes %}
			<div class="tile {{ classe.color }}">
				<a href="{% url 'askmath:manager_classe_view' id_classe=classe.id %}" class="tile-content slide-down iconic">
					<span class="icon mif-organization"></span>
					<div class="tile-label">
					{{ classe.get_name|title }}
					</div>
				</a>
			</div>
		{% empty %}
		<h3 class="align-center padding30">{% trans "No classe found" %}</3>
		{% endfor %}

	</div>
</div>
{% endblock %}