{% extends 'askmath/manager/contact/manager_view_contacts.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if contact %}
	<li><a href="/home/manager/contacts/view/contact={{ contact.id }}/"><span class="icon mif-envelop"></span> <spam>{{ contact.get_name }}</spam></a></li>
	{% endif %}
{% endblock %}

{%  block content_right %}
<div class="cell padding10">
	{% if perms.askmath.write_contact %}
		{% if contact.exists %}
		<a href="/home/manager/contacts/remove/contact={{ contact.id }}/" class="image-button button-danger">
			{% trans "Remove" %}
			<span class="icon mif-cross"></span>
		</a>
		{% endif %}
		{% if not contact.exists %}
		<a href="/home/manager/contacts/restore/contact={{ contact.id }}/" class="image-button button-info">
			{% trans "Restore" %}
			<span class="icon mif-history"></span>
		</a>
		{% endif %}
	{% endif %}
</div>

{% include "askmath/manager/contact/_render_contact.html" %}

{% endblock %}
