{% extends 'askmath/manager/contact/overwrite_header.html' %}
{% load i18n %}

{%  block content_right %}

<div class="cell padding10">
	{% if is_removed %}
		<a href="/home/manager/contacts/view/" class="button success" data-popover="undo"><span class="mif-undo"></span>{% trans " Undo" %}</a>
	{% else %}
		<a href="/home/manager/contacts/view_removed/" class="button warning" data-popover="dump"><span class="mif-bin"></span>{% trans " Dump" %}</a>
	{% endif %}
</div>

<div class="tile-area padding10 bg-transparent ">
	{% for contact in contacts %}
		<div class="tile {{ contact.color }} fg-white" data-role="tile">
		    <a href="/home/manager/contacts/view/contact={{ contact.id }}/" class="tile-content iconic">
		        <span class="icon mif-envelop mif-ani-vertical"></span>
		        <span class="tile-label">{{ contact.get_name }}</span>
		        {% if not contact.exists %}
		        <span class="tile-badge mif-bin"></span>
		        {% endif %}
		    </a>
		</div>
	{% endfor %}
</div>

{% endblock %}