{% extends 'askmath/authentication/options.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url 'askmath:reset_password_reset' %}"><span class="icon mif-recover"></span> <spam>{% trans "Password Change Form" %}</spam></a></li>
{% endblock %}


{% block content %}
<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email addess below," %}</p>

<forma action="." method="POST">{% csrf_token %}
{% with form as form %}
{% include "askmath/_render_form.html" %}
{% endwith %}
<input type="submit" value="{% trans 'Change my password' %}" class="default" />
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}