{% extends 'registration/password_reset_form.html' %}

{% load i18n %}

{% block password_reset_content %}

{% if validlink %}
	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	<form action="." method="POST">{% csrf_token %}
		{% include "askmath/_render_form.html" %}
		<button type="submit" class="button primary">
			{% trans 'Submit' %}
		</button>
	</form>
{% else %}
	<h3>{% trans 'Password reset unsuccessful' %} :(</h3>
	<h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h4>
{% endif %}

{% endblock %}
