{% extends 'askmath/authentication/options.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url 'askmath:reset_password_reset1' %}"><span class="icon mif-key"></span> <spam>{% trans "Password Reset" %}</spam></a></li>
{% endblock %}


{% block content %}
<div class="flex-grid">
	<div class="row flex-just-center">
		<div class="cell colspan4">
			<div class="card">
				<h3 class="text-center page-title">{% trans "Recover Password" %}</h3>
				<div class="padding10">
				{% block password_reset_content %}
				<p>{% trans "Provide your email address below and we will send you instructions to set a new one." %}</p>
				<form  action="{% url 'askmath:reset_password_reset1' %}" method="POST">{% csrf_token %}
					{% with form as form %}
					{% include "askmath/_render_form.html" %}
					{% endwith %}
					<button type="submit" class="button primary">
						{% trans 'Submit' %}
					</button>
				</form>
				{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}