{% load i18n %}

<div class="container">
	<div class="list-group">
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Disciplines:" %}</h4>
			<p class="list-group-item-text">
				{% for discipline in lesson.get_disciplines %}
        			{{ discipline }}
        			{% if not forloop.counter == lesson.get_disciplines|length %}
        			,
        			{% endif %}
        		{% empty %}
        			{% trans "NULL" %}
        		{% endfor %}
			</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Title:" %}</h4>
			<p class="list-group-item-text">{{ lesson.get_title }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Description:" %}</h4>
			<p class="list-group-item-text">{{ lesson.get_description|safe|linebreaksbr }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Requirements:" %}</h4>
			<p class="list-group-item-text">
				{% for requirement in lesson.get_requirements %}
        			{{ requirement }}
        			{% if not forloop.counter == lesson.get_requirements|length %}
        			,
        			{% endif %}
        		{% empty %}
        			{% trans "NULL" %}
        		{% endfor %}
			</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Sugestions:" %}</h4>
			<p class="list-group-item-text">
				{% for sugestion in lesson.get_sugestions %}
        			{{ sugestion }}
        			{% if not forloop.counter == lesson.get_sugestions|length %}
        			,
        			{% endif %}
        		{% empty %}
        			{% trans "NULL" %} 
        		{% endfor %}
			</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Maximum Hops:" %}</h4>
			<p class="list-group-item-text">{{ lesson.get_maximum_hops }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Is Visible:" %}</h4>
			<p class="list-group-item-text">{{ lesson.is_visible }}</p>
		</div>
	</div>
	
	<h4 class="text-center">{% trans "Questions of lesson" %}</h4>
	<hr class="thin bg-grayLighter">
	
	<div class="tile-area no-padding bg-transparent">
		<div class="tile-container">
		{% for question in lesson.get_questions %}
		<div class="tile-wide {{colors|random}} {% if question.visible %}element-selected{% endif %}  fg-white" data-role="tile">
		    <a href="/home/manager/questions/view/lesson={{ lesson.id }}/question={{ question.id }}/" class="tile-content iconic">
		        <span class="icon mif-list-numbered"></span>
		        <span class="tile-label">{{ question.get_description|safe|linebreaksbr|truncatewords:10 }}</span>
		        {% if not question.exists %}
		        <span class="tile-badge mif-bin"></span>
		        {% endif %}
		    </a>
		</div>
		{% empty %}
		<h5 class="text-center">{% trans "No Question found." %}</h5>
		{% endfor %}
		</div>
	</div>
	
	<h4 class="text-center">{% trans "Videos of lesson" %}</h4>
	<hr class="thin bg-grayLighter">
	<div class="tile-area no-padding bg-transparent">
		<div class="tile-container">
			{% for video in lesson.get_videos %}
				 <div class="tile-wide {{colors|random}}">
				    <a href="/home/manager/videos/view/lesson={{ lesson.id }}/video={{ video.id }}/" class="tile-content slide-down iconic">
				        <span class="icon mif-film"></span>
				        <div class="tile-label">
				            {{ video.get_title|title }}
				        </div>
				        <span class="tile-badge bg-crimson">{{ video.get_position }}</span>
				        <div class="slide-over bg-steel">
				        	<p class="paragraph">{{ video.get_description|safe|linebreaksbr|truncatewords:25 }}</p>
				        </div>
				    </a>
				</div>
			{% empty %}
			<h5 class="text-center">{%trans "Lesson does not have videos."%}</h5>
			{% endfor %}
		</div>
	</div>
</div>