{% extends 'askmath/manager/lesson/manager_view_lessons.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if lesson %}
		<li><a href="/home/manager/lessons/view/lesson={{ lesson.id }}/"><span class="icon mif-clipboard"></span> <spam>{{ lesson }}</spam></a></li>
	{% endif %}
{% endblock %}


{%  block content_right %}
<div class="cell padding10">
	{% if perms.askmath.write_lesson %}
		<a href="/home/manager/lessons/edit/lesson={{ lesson.id }}/" class="image-button button-primary">
			{% trans "Edit" %}
			<span class="icon mif-pencil"></span>
		</a>
		{% if lesson.exists %}
		<a href="/home/manager/lessons/remove/lesson={{ lesson.id }}/" class="image-button button-danger">
			{% trans "Remove" %}
			<span class="icon mif-cross"></span>
		</a>
		{% endif %}
		{% if not lesson.exists %}
		<a href="/home/manager/lessons/restore/lesson={{ lesson.id }}/" class="image-button button-info">
			{% trans "Restore" %}
			<span class="icon mif-history"></span>
		</a>
		{% endif %}
	{% endif %}
</div>

{% include "askmath/manager/lesson/_render_lesson.html" %}
{% include "askmath/manager/question/_modal_choose_quant_items.html" %}

{% endblock %}
