{% extends 'askmath/manager/lesson/overwrite_header.html' %}
{% load i18n %}

{%  block content_right %}
<div class="cell">
	{% if perms.askmath.write_lesson %}
		<a id="button-lesson-create" href="/home/manager/lessons/add/discipline={{ discipline.id }}/" class="image-button button-success">
			{% trans "Create" %}
			<span class="icon mif-plus"></span>
		</a>
	{% endif %}
	{% if perms.askmath.write_lesson %}
		<a id="button-lesson-edit" href="#" class="image-button button-primary">
			{% trans "Edit" %}
			<span class="icon mif-pencil"></span>
		</a>
	{% endif %}
	{% if perms.askmath.write_lesson %}
		{% if is_removed %}
		<a id="button-lesson-restore" href="#" class="image-button button-info">
			{% trans "Restore" %}
			<span class="icon mif-history"></span>
		</a>
		{% else %}
		<a id="button-lesson-delete" href="#" class="image-button button-danger">
			{% trans "Delete" %}
			<span class="icon mif-minus"></span>
		</a>
		{% endif %}
	{% endif %}
	
	{% if is_removed %}
		<a href="/home/manager/lessons/view/discipline={{ discipline.id }}/" class="image-button button-warning">
			{% trans "Close Dump" %}
			<span class="icon mif-undo"></span>
		</a>
	{% else %}
		<a href="/home/manager/lessons/view_removed/discipline={{ discipline.id }}/" class="image-button button-warning">
			{% trans "Open Dump" %}
			<span class="icon mif-bin"></span>
		</a>
	{% endif %}
</div>



<table  class="dataTable border bordered" data-role="datatable">
	<thead>
		<tr>
			<td style="width: 10px"></td>
			<td>{% trans "Title" %}</td>
			<td>{% trans "Description" %}</td>
			<td>{% trans "Requirements" %}</td>
			<td>{% trans "Sugestions" %}</td>
			<td>{% trans "Maximum Hops" %}</td>
			<td style="width: 20px">{% trans "Visible" %}</td>
		</tr>
	</thead>
	<tbody>
	{% for lesson in lessons %}
	<tr>
		<td>
            <label class="input-control radio small-check no-margin">
                <input type="radio" lesson_id="{{ lesson.id }}" discipline_id="{{ discipline.id }}" name="radio_lesson">
                <span class="check"></span>
            </label>
        </td>
		<td class="sortable-column">{{ lesson.get_title }}</td>
		<td class="sortable-column">{{ lesson.get_description|truncatechars:"255" }}</td>
		<td class="sortable-column">{{ lesson.get_requirements }}</td>
		<td class="sortable-column">{{ lesson.get_sugestions }}</td>
		<td class="sortable-column">{{ lesson.get_maximum_hops }}</td>
		<td class="sortable-column">
			{{ discipline.is_visible }}
        </td>
		
	</tr>
	{% empty %}
	<h3 class="text-center">{% trans "Not Disciplines Found" %}</h3>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% comment %}  

{%  block content_right %}

<div class="cell">
	{% if perms.askmath.write_lesson %}
		<a href="/home/manager/lessons/add/" class="image-button button-success">
			{% trans "Create" %}
			<span class="icon mif-plus"></span>
		</a>
	{% endif %}
	{% if is_removed %}
		<a href="/home/manager/lessons/view/" class="image-button button-info" data-popover="undo">
			{% trans "Undo" %}
			<span class="icon mif-undo"></span>
		</a>
	{% else %}
		<a href="/home/manager/lessons/view_removed/" class="image-button button-warning" data-popover="dump">
			{% trans "Dump" %}
			<span class="icon mif-bin"></span>
		</a>
	{% endif %}
</div>

{% regroup disciplines by title as discipline_list %}
	{% for discipline in discipline_list %}
		{% if discipline.list %}
		<label>{{ discipline.grouper|title }}</label>
		<div class="tile-container">
			{% for item in discipline.list %}
				{% for lesson in item.lessons %}
					<div class="tile-wide {{ lesson.color }} {% if lesson.visible %}element-selected{% endif %}  fg-white" data-role="tile">
					    <a href="/home/manager/lessons/view/lesson={{ lesson.id }}/" class="tile-content iconic">
					        <span class="icon mif-clipboard"></span>
					        <span class="tile-label">{{ lesson.get_title }}</span>
					        {% if not lesson.exists %}
					        <span class="tile-badge mif-bin"></span>
					        {% endif %}
					    </a>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% endif %}
	{% empty %}
		<h3 class="text-center">{% trans "Not Lessons Found" %}</h3>
	{% endfor %}
{% endblock %}

{% endcomment %}