{% extends 'askmath/manager/discipline/manager_view_disciplines.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_lesson_view' id_discipline=discipline.id %}">
			<span class="icon mif-clipboard"></span> <span>{% blocktrans with discipline=discipline.get_title %}Lessons of {{ discipline }}{% endblocktrans %}</span>
		</a>
	</li>
{% endblock %}

{%  block content %}
<div class="card block-shadow">

	<h3 class="align-center page-title">{% blocktrans %}Lessons of {{ discipline }}{% endblocktrans %}</h3>

	<div class="padding10">
		{% if perms.askmath.write_lesson %}
		<div class="cell">
			<a id="button-lesson-create" href="{% url 'askmath:manager_lesson_add' id_discipline=discipline.id %}" class="image-button success">
				<span class="icon mif-plus"></span>
				{% trans "Create" %}
			</a>
			<a id="button-lesson-edit" href="#" class="image-button primary">
				<span class="icon mif-pencil"></span>
				{% trans "Edit" %}
			</a>
			{% if is_removed %}
			<a id="button-lesson-restore" href="#" class="image-button info">
				<span class="icon mif-history"></span>
				{% trans "Restore" %}
			</a>
			{% else %}
			<a id="button-lesson-delete" href="#" class="image-button danger">
				<span class="icon mif-minus"></span>
				{% trans "Delete" %}
			</a>
			{% endif %}
			{% if is_removed %}
			<a href="{% url 'askmath:manager_lesson_view' id_discipline=discipline.id %}" class="image-button warning">
				<span class="icon mif-undo"></span>
				{% trans "Close Dump" %}
			</a>
			{% else %}
			<a href="{% url 'askmath:manager_lesson_view_removed' id_discipline=discipline.id %}" class="image-button warning">
				<span class="icon mif-bin"></span>
				{% trans "Open Dump" %}
			</a>
			{% endif %}
		</div>
		{% endif %}


		<table  class="dataTable border bordered">
			<thead>
				<tr>
					{% if perms.askmath.write_lesson %}
					<td style="width: 10px">#</td>
					{% endif %}
					<td>{% trans "Title" %}</td>
					<td>{% trans "Errors for obstacle" %}</td>
					<td>{% trans "Errors for deficiency" %}</td>
					<td>{% trans "Maximum Hops" %}</td>
					<td style="width: 20px">{% trans "Visible" %}</td>
					<td>{% trans "Options" %}</td>
				</tr>
			</thead>
			<tbody>
			{% for lesson in lessons %}
			<tr>
				{% if perms.askmath.write_lesson %}
				<td>
					<label class="input-control radio small-check no-margin">
						<input type="radio" lesson_id="{{ lesson.id }}" discipline_id="{{ discipline.id }}" name="radio_lesson">
						<span class="check"></span>
					</label>
				</td>
				{% endif %}
				<td class="sortable-column">{{ lesson.get_title }}</td>
				<td class="sortable-column">{{ lesson.get_errors_followed_to_obstacle}}</td>
				<td class="sortable-column">{{ lesson.get_errors_to_deficiency}}</td>
				<td class="sortable-column">{{ lesson.get_maximum_hops }}</td>
				<td class="sortable-column">
					{% if lesson.is_visible %}
						<button class="cycle-button mini-button success">
							<span class="mif mif-checkmark"></span>
						</button>
					{% else %}
						<button class="cycle-button mini-button danger">
							<span class="mif mif-cross"></span>
						</button>
					{% endif %}
				</td>
				<td class="sortable-column">
					<div data-role="group" data-group-type="one-state">
						<a href="{% url 'askmath:manager_question_view' id_lesson=lesson.id id_discipline=discipline.id %}">
							{% blocktrans with questions=lesson.get_questions|length|default_if_none:0 %}
							See {{ questions }} Questions
							{% endblocktrans %}
						</a>/
						<a  href="{% url 'askmath:manager_video_view' id_lesson=lesson.id id_discipline=discipline.id %}">
							{% blocktrans with videos=lesson.get_videos|length|default_if_none:0 %}
							See {{ videos }} Videos
							{% endblocktrans %}
						</a>
					</div>
				</td>

			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
