{% extends 'askmath/content/discipline/content_view_discipline.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_lesson_view' id_discipline=discipline.id id_lesson=lesson.id %}">
			<span class="icon mif-clipboard"></span> <span>{{ lesson.get_title|title }}</span>
		</a>
	</li>
{% endblock %}

{%  block tiles %}
<div class="flex-grid">
	<div class="row flex-just-sb">
		<div class="cell colspan8">
			<div class="card block-shadow ">
				{% block tiles-left %}
				 <h3 class="align-center page-title">{{ lesson.get_title|title }}</h3>
				<div class="padding10 align-justify text-accent">
					{{ lesson.get_description|safe|linebreaksbr }}
				</div>
				{% endblock %}
			</div>
		</div>
		<div class="cell colspan4 no-margin-right">
			<div class="card block-shadow">
				{% block tiles-rigth %}
				<h3 class="align-center page-title">{% trans "Options" %}</h3>
				
				<div class="padding10">
					<a  href="{% url 'askmath:content_question_view' id_discipline=discipline.id id_lesson=lesson.id %}" class="command-button success">
						<span class="icon mif-list-numbered"></span>
						 {% trans "Questions" %}
						<small>
						 {% blocktrans with qtd_questions=lesson.get_questions_visibles|length %}
								 Are {{ qtd_questions }} questions issues created especially for you.
						 {% endblocktrans %}
						 </small>
					 </a>
					<a href="{% url 'askmath:content_video_view' id_discipline=discipline.id id_lesson=lesson.id %}" class="command-button info">
						<span class="icon mif-video-camera"></span>
							{% trans "Videos" %}
						<small>
						{% blocktrans with qtd_videos=lesson.get_videos_visibles|length %}
							 We have {{ qtd_videos }} Video lessons to expand their knowledge.
						{% endblocktrans %}
						</small>
					</a>
				</div>
				<div class="padding10">
					{% if studentlessonstate.get_percentage_completed < 100 %}
						<h5>{% trans "We recommend completing the lessons below before proceeding:" %}</h5>

						<ul>
						{% for requirement in lesson.get_requirements %}
							<li>
								<a  class="tag {{requirement.color}} fg-white" href="{% url 'askmath:content_lesson_view' id_discipline=discipline.id id_lesson=requirement.id  %}">
								{{ requirement }}
								</a>
							</li>
						{% empty %}
						{% endfor %}
						</ul>
					{% endif %}
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{% include 'askmath/latex/support.html' %}
{% endblock %}
