{% extends 'askmath/content/discipline/content_view_discipline.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/home/content/lessons/view/discipline={{ discipline.id }}/lesson={{ lesson.id }}/"><span class="icon mif-clipboard"></span> <spam>{{ lesson.get_title|title }}</spam></a></li>
{% endblock %}

{%  block tiles %}
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="row">
		{% block tiles-left %}
			<div class="panel width">
				<div class="heading text-center">
			        <span class="icon mif-clipboard text-left"></span>
			        <span class="title">{{ lesson.get_title|title }}</span>
			    </div>
			    <div class="content">
			    	<p class="text-justify lead">
						{{ lesson.get_description|safe|linebreaksbr }}
					</p>
			    </div>
			</div>
		{% endblock %}
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		{% block tiles-rigth %}
		<div class="panel width">
			<div class="heading text-center">
		        <span class="icon mif-play text-left"></span>
		        <span class="title">{% trans "Options" %}</span>
		    </div>
		    <div class="content">
		    	<div class="container-fluid">
		    	<div class="row">


			    <button class="command-button success" onclick="window.location='/home/content/questions/view_question/discipline={{ discipline.id }}/lesson={{ lesson.id }}/'">
			        <span class="icon mif-list-numbered"></span>
			       {% trans "Questions" %}
			        <small>São {{ lesson.get_questions_visibles|length }} questões criadas especialmente para você</small>
			    </button>
			    <button class="command-button info" onclick="window.location='/home/content/videos/view/discipline={{ lesson.get_discipline.id }}/lesson={{ lesson.id }}/'">
			        <span class="icon mif-video-camera"></span>
			        {% trans "Videos" %}
			        <small>Temos {{ lesson.get_questions_visibles|length }} vídeo-aulas para ampliar seus conhecimentos</small>
			    </button>
			    {% if studentlessonstate.get_percentage_completed == 100 %}
					<h5>{% trans "Sugestions next lessons:" %}</h5>
					<ul>
					{% for sugestion in lesson.get_sugestions %}
						<li>
							<a class="lead fg-lightTeal" href="/home/content/lessons/view/discipline={{ discipline.id }}/lesson={{ sugestion.id }}/">
							{{ sugestion.get_title }}
							</a>
						</li>
					{% empty %}
						<h5>{% trans "It has no sugestions." %}</h5>
					{% endfor %}
					</ul>
				{% else %}
					<h5>{% trans "Recomendamos concluir as lições abaixo antes de prosseguir:" %}</h5>
					<ul>
					{% for requirement in lesson.get_requirements %}
						<li>
							<a class="lead  fg-darkBlue" href="/home/content/lessons/view/discipline={{ discipline.id }}/lesson={{ requirement.id }}/">
							{{ requirement }}
							</a>
						</li>
					{% empty %}
						<h5>{% trans "It has no requirements." %}</h5>
					{% endfor %}
					</ul>
				{% endif %}
				</div>
				</div>
		    </div>
		</div>
		{% endblock %}
	</div>
{% endblock %}
