{% load i18n %}
<section id="text-about" class="lead text-justify">
<p>
Este sistema é uma iniciativa do grupo PET Tecnologia da Informação da Universidade Federal do Ceará.
Seu objetivo é propiciar um ambiente simples, intuitivo e elegante para o estudante que quer se aprofundar 
nos mais diversos campos da Matemática.
</p>
<p>
Esse sistema, assim como todos os que desenvolvemos, possui código-livre e encontra-se sob a licença 
GNU 2.0, a qual permite que você possa copiar, distribuir e modificar seu código-fonte.
</p>
</section>