{% load i18n %}
{% load askmath_tags %}

<section id="text-about" class="lead text-justify">
{% blocktrans %}
<p class="paragraph">
Este projeto é uma iniciativa do grupo PET Tecnologia da Informação da Universidade Federal do Ceará.
Nosso objetivo é provê uma simples, intuitiva e elegante plataforma para os estudantes que querem aprender mais sobre os diversos ramos da Matemática.
</p>
<p class="paragraph">
Assim como todos que desenvolvemos, este sistema possui código-fonte livre e está sob a <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">licença GNU 2.0</a>, permitindo assim que você possa copiar, distribuir e modificar seu código-fonte.
</p>
{% endblocktrans %}

<article>
	<h4 class="list-heading">{% trans "Developers:" %}</h4>
	<ul>
		{% for name,email in "SITE_DEVELOPERS"|settings  %}
			<li>{{ name }} - {{ email }}</li>
		{% endfor %}
	</ul>
</article>

<p>
{% blocktrans %}
The AskMath was made possible thanks to other <a href="/credits/">open source software</a>.
{% endblocktrans %}
</p>
</section>