{% load i18n %}
{% load askmath_tags %}

<section id="text-about">
<div class="content  bg-grayLighter">
	<div class="container-fluid">
		<p class="lead">
			{% blocktrans %}
			This project is an initiative of the <abbr title="Tutorial Education Program">PET</abbr> group Information Technology of the Federal University of Ceará.
			{% endblocktrans %}
		</p>
		<figure>
			<img class="img img-responsive" src="{{ STATIC_URL }}askmath/img/grupo-pet.jpg" alt="{% trans "PET Group Information Technology." %}">
			<figcaption class="text-center">{% trans "PET Group Information Technology." %}</figcaption>
		</figure>
	</div>
</div>

<div class="accordion ">
	<div class="frame">
		<div class="heading">{%  trans "Objective" %}</div>
		<div class="content  bg-grayLighter">
			<p class="lead">
				{% blocktrans %}
				Our goal is to provide a simple, intuitive and elegant platform for students who want to learn more about the different branches of mathematics.
				{% endblocktrans %}
			</p>
		</div>
	</div>
	<div class="frame">
		<div class="heading">{% trans "License and Source-Code." %}</div>
		<div class="content  bg-grayLighter">
			<p class="lead">
				{% blocktrans %}
				As well as all that we have developed, this system is open source and <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">license CC BY-NC-ND</a>, allowing you to copy, distribute and modify its source code.
				{% endblocktrans %}
			</p>
			<p class="lead">
				{% blocktrans %}
				Your source code is available at the following repository: <a href="https://github.com/saraivaufc/askMath" target="_blank">https://github.com/saraivaufc/askMathPlus</a>. 
				{% endblocktrans %}
			</p>
		</div>
	</div>
	<div class="frame">
		<div class="heading">{% trans "Developers" %}</div>
		<div class="content  bg-grayLighter">
			<div class="grid">
			{% for developer in "SITE_DEVELOPERS"|settings  %}
				<div class="cell">
					<div class="row cells4 bg-white-opacity">
						<div class="cell">
							<div class="image-container bordered image-format-square bg-white" style="width: 150px;">
								<div class="frame">
									<figure>
										<img src="{{ developer.profile_image }}" alt="{% trans "Profile picture of" %}">
									</figure>
								</div>
							</div>
						</div>
						<div class="cell colspan3">
							<h4>
								{{ developer.message }}
							</h4>
							<div>
								<span class="tag info">{% trans "SKILLS:" %}</span>
								{% for skill in developer.skills %}
								<span class="tag success">{{ skill }}</span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="frame">
		<div class="heading">{% trans "Credits" %}</div>
		<div class="content  bg-grayLighter">
			<p class="lead">
			{% blocktrans %}
			The AskMath was made possible thanks to other <a href="/credits/">open source software</a>. {% endblocktrans %}
			</p>
		</div>
	</div>
</div>
</section>