{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/about/"><span class="icon mif-info"></span> <spam>{% trans "About" %}</spam></a></li>
{% endblock %}


{% block content %}
<section>
	<div class="container">
		<div class="row bg-white-opacity text">
			<figure class="text-center">
				<img src="{{ STATIC_URL }}askmath/img/logos/logo-transparent.png" width="425px" height="204" />
			</figure>
			{% include "askmath/index/_render_about.html" %}
		</div>
	</div>
</section>

{% endblock %}