{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url 'askmath:about' %}">
			<span class="icon mif-info"></span> <span>{% trans "About" %}</span>
		</a>
	</li>
{% endblock %}


{% block content %}
<section>
	<div class="container">
		<div class="row">
		<div class="panel width">
			<div class="heading text-center">
				<span class="icon mif-info text-left"></span>
			    <span class="title">{% trans "About" %}</span>
			</div>
			<div class="contant">
				<div class="container-fluid">
					<div class="row">
						{% include "askmath/index/_render_about.html" %}			
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}