{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/contents/"><span class="icon mif-books"></span> <spam>{% trans "Contents" %}</spam></a></li>
{% endblock %}

{% block content %}
<section class="padding10">
<div class="container-fluid">
	<div class="row">
		{% for discipline in disciplines %}
		{% if discipline.get_lessons_visibles|length > 0 %}
			<h4 class="fg-white">{{ discipline|title }}</h4>
        	<div class="tile-container">
				{% for lesson in discipline.get_lessons_visibles %}
					<a href="/contents/lesson={{ lesson.id }}/" class="tile-wide {{ lesson.color }} fg-white">
					    <div class="tile-content iconic">
					        <span class="icon mif-clipboard"></span>
					        <span class="tile-label">{{ lesson.get_title }}</span>
					    </div>
					</a>
				{% endfor %}
			</div>
			<br />
		{% endif %}
		{% empty %}
			<h3 class="text-center">{% trans "Not Lessons Found" %}</h3>
		{% endfor %}
	</div>
</div>
</section>
{% endblock %}