{% extends 'askmath/index/contents.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="/contents/lesson={{ lesson.id }}/"><span class="icon mif-clipboard"></span> <spam>{{ lesson.get_title|title }}</spam></a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
	{% block tiles-left %}
		<div class="container-fluid">
			<div class="row">
				<div class="panel width">
					<div class="heading">
				        <span class="icon mif-clipboard"></span>
				        <span class="title">{{ lesson.get_title|title }}</span>
				    </div>
				    <div class="content">
				    	<p class="text-justify lead">
							{{ lesson.get_description|safe|linebreaksbr }}
						</p>
				    </div>
				</div>
			</div>
		</div>
	{% endblock %}
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		{% block tiles-rigth %}
		<div class="panel width">
			<div class="heading">
		        <span class="icon mif-play"></span>
		        <span class="title">{% trans "Options" %}</span>
		    </div>
		    <div class="content">
		    	<div class="container-fluid">
		    	<div class="row">
			    	<div class="tile bg-indigo">
					    <a href="/home/content/questions/view_inicial_details/discipline={{ lesson.get_discipline.id }}/lesson={{ lesson.id }}/" class="tile-content slide-down iconic">
					        <span class="icon mif-list-numbered"></span>
					        <div class="tile-label">
					            {% trans "Questions" %}
					        </div>
					        <div class="slide-over bg-steel">
					        <table class="text-center fill">
					        	<tr>
					        		<td> {% trans "All Questions" %} : {{ lesson.get_questions_visibles|length }}</td>
					        	</tr>
					        </table>
					        </div>
					    </a>
					</div>
					
					<div class="tile bg-emerald">
					    <a href="/home/content/videos/view/discipline={{ lesson.get_discipline.id }}/lesson={{ lesson.id }}/" class="tile-content slide-down iconic">
					        <span class="icon mif-video-camera"></span>
					        <div class="tile-label">
					            {% trans "Videos" %}
					        </div>
					         <div class="slide-over bg-steel">
					        <table class="text-center fill">
					        	<tr>
					        		<td>{% trans "All Videos" %} : {{ lesson.get_videos_visibles|length }}</td>
					        	</tr>
					        </table>
					        </div>
					    </a>
					</div>
				</div>
				</div>
		    </div>
		</div>
		{% endblock %}
	</div>
</div>
{% endblock %}
