{% extends 'askmath/index/home.html' %}

{% load i18n %}
{% load askmath_tags %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:credits' %}">
			<span class="icon mif-apps"></span> <span>{% trans "Credits" %}</span>
		</a>
	</li>
{% endblock %}


{% block content %}

<section>
	<div class="container">
		<div class="row">
		<div class="panel width">
			<div class="heading align-center">
				<span class="icon mif-apps text-left"></span>
				<span class="title">{% trans "Credits" %}</span>
			</div>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<ul class="list-group">
							{% for title, homepage in "SITE_EXTERNAL_COMPONENTES"|settings  %}
								<div class="product bg-grayLight">
									<span class="title">{{ title }}</span>
									<span class="homepage fg-darkBlue"><a href="{{ homepage }}">homepage</a></span>
								</div>
							{% endfor %}
						</ul>			
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

{% endblock %}