{% extends 'askmath/_base.html' %}

{% load i18n %}

{% block header_two %}
<div class="padding10">
	<ul class="breadcrumbs2">
	    {% block breadcrumbs %}
	    <li><a href="/home/"><span class="icon mif-home"></span></a></li>
		{% endblock %}
	</ul>
</div>
{% endblock %}

{% block content %}
<section>
	<div class="container">
		<hgroup id="welcome" class="text-center">
		<h1>{% trans "Welcome to the Askmath..." %}</h1>
		<h3>{% trans "Our goal is to teach math more fun and exciting way for everyone." %}</h3>
		</hgroup>
	</div>
</section>

<section>
	<div class="flex-grid ">
	<div class="container-fluid">
	<div class="row flex-just-center ">
	<div class="cell size5">
		<div class="row tile-container cell-auto-size">
			<div class="cell tile bg-red fg-white" data-role="tile">
		        <a href="/contents/" class="tile-content iconic">
		            <span class="icon mif-books"></span>
		        </a>
		        <span class="tile-label">{% trans "Contents" %}</span>
		    </div>
		    <div class="cell tile-wide bg-green fg-white" data-role="tile">
		        <a href="/authentication/options/" class="tile-content iconic">
		            <span class="icon mif-play mif-ani-pass mif-ani-fast"></span>
		        </a>
		        <span class="tile-label">{% trans "Start here" %}</span>
		    </div>
		</div>
		<div class="row tile-container cell-auto-size" >
	    	<div class="cell tile-wide bg-darkBlue fg-white" data-role="tile">
		        <a href="/about/" class="tile-content iconic">
		            <span class="icon mif-info"></span>
		        </a>
		        <span class="tile-label">{% trans "About the project" %}</span>
		    </div>
		    <div class="cell tile bg-yellow fg-white" data-role="tile">
		        <a href="/forum/" class="tile-content iconic">
		            <span class="icon mif-bubbles"></span>
		        </a>
		        <span class="tile-label">{% trans "Forum" %}</span>
		    </div>
		</div>
	</div>
	</div>
	</div>
	</div>
</section>

{% endblock %}