{% extends 'askmath/index/home.html' %}
{% load i18n %}

{% block header_two %}
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="container-fluid">
	<div class="row" style="height: 100%">
		<div class="cell auto-size" style="height: 100%">
			<div class="padding10">
				<ul class="breadcrumbs2">
				{% block breadcrumbs %}
					<li>
						<a href="{% url 'askmath:home' %}">
							<span class="icon mif-home"></span>
						</a>
					</li>
				{% endblock %}
				</ul>
				{% block content_right %}
				{% endblock %}
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}
