{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block stylesheet %}
<style type="text/css">
	#feedback-modal, #feedback-modal *,#feedback,#feedback *{
		display: none;
	}
</style>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:message' %}">
			<span class="icon mif-envelop"></span> <span>{% trans "Contact Us" %}</span>
		</a>
	</li>
{% endblock %}


{% block content %}
	{% include 'nocaptcha_recaptcha/script_include.html' %}
		<div class="flex-grid">
			<div class="row flex-just-sb">
				<div class="cell colspan6">
					<div class="card block-shadow">
						<h3 class="align-center page-title"><span>{% trans "Contact Us" %}</h3>
						<form class="padding10" action="{% url 'askmath:message' %}" method="post" enctype="multipart/form-data" role="form">
							{% csrf_token %}
							{% include 'askmath/_render_form.html' %}
							<br>
							<button  type="submit"  class="image-button primary" >
								<span class="icon mif-paper-plane"></span>
								{% trans "Send" %}
							</button>
						</form>
					</div>
				</div>
				<div class="cell colspan6">
					<div class="card block-shadow">
						<h3 class="align-center page-title"><span>{% trans "Social networks" %}</h3>
						<div class="padding10">
							<div class="row align-center">
								<figure class="align-center">
									<img src="{{ STATIC_URL }}askmath/img/logos/pet.png" title="{% trans "Logo PET information technology group." %}" width="90%" height="100%">
								</figure>
							</div>
							<br>
							<div class="row">
								<h3 class="text-left">{% trans "Social networks:" %}</h3>
							</div>

							<div class="row cell-auto-size">
								<div class="cell">
									<figure class="align-center">
										<a href="http://tiqx.blogspot.com.br/" target="_blank">
											<img class="img-responsive" src="{{ STATIC_URL }}askmath/img/logos/blog.png" alt="{% trans "Blog PET Information Technology." %}" height="15px">
										</a>
										<figcaption>{% trans "Blog" %}</figcaption>
									</figure>
								</div>
								<div class="cell">
									<figure  class="align-center">
										<a href="https://plus.google.com/u/0/104181841054535213294/" target="_blank">
											<img class="img-responsive" src="{{ STATIC_URL }}askmath/img/logos/googleplus.png" alt="{% trans "GooglePlus PET Information Technology." %}" height="15px">
										</a>
										<figcaption>{% trans "Google+" %}</figcaption>
									</figure>
								</div>
								<div class="cell">
									<figure  class="align-center">
										<a href="https://www.facebook.com/pettiqx" target="_blank">
											<img class="img-responsive" src="{{ STATIC_URL }}askmath/img/logos/facebook.png" alt="{% trans "Facebook PET Information Technology." %}" height="15px">
										</a>
										<figcaption>{% trans "Facebook" %}</figcaption>
									</figure>
								</div>
								<div class="cell">
									<figure  class="align-center">
										<a href="https://twitter.com/petccqx" target="_blank">
											<img class="img-responsive" src="{{ STATIC_URL }}askmath/img/logos/twitter.png" alt="{% trans "Twitter PET Information Technology." %}" height="15px">
										</a>
										<figcaption>{% trans "Twitter" %}</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}