{% extends 'askmath/index/home.html' %}

{% load i18n %}
{% load askmath_tags %}



{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:policies' %}">
			<span class="icon mif-file-text"></span> <span>{% trans "Privacy Policy" %}</span>
		</a>
	</li>
{% endblock %}

{% block content %}
	<div class="bg-grayLighter">
		<h3 class="text-center page-title"><span>{% trans "Privacy Policy" %}</h3>

		<div class="container-fluid">
			<div class="row">
				<div class="lead text-justify padding20">
					<p class="paragraph">
							O Site {% SETTINGS "SITE_NAME" %} leva em consideração a importância da privacidade de nossos visitantes deixando aqui claro como são utilizadas todas as informações e dados eventualmente recebidos.
					</p>

					<p class="paragraph">
							Nós reconhecemos e garantimos que em hipótese alguma serão divulgados qualquer tipo de dado eventualmente enviado à nós seja por formulário, e-mail, ou qualquer outro meio.
					</p>

					<p>
					<strong>O uso deste website está sujeito aos seguintes políticas de privacidade:</strong>
					</p>

					<ol>
					<li>
							<h4>Privacidade</h4>
							<p>Esta Política de Privacidade objetiva informar sobre as práticas relativas à coleta e utilização das informações fornecidas neste site. Leia seu conteúdo na íntegra antes de acessar as páginas ou nos fornecer informações.</p>
					</li>
					<li>
							<h4>Consentimento</h4>
							<p>Sempre que fornecer informações através deste site, concordará com os termos desta Política.</p>
					</li>
					<li>
							<h4>Coleta direta de informações</h4>
							<p>Este site coleta informações de seus visitantes não só por perguntas especificas, mas também permitindo a comunicação por e-mail e formulários. Para ter acesso a recursos específicos do site, será necessário que você nos forneça informações pessoais. Você será sempre avisado quais são obrigatórias e quais são opcionais.</p>
					</li>
					<li>
							<h4>Coleta indireta de informações</h4>
							<p>Este site usa tecnologias que capturam informações anônimas, tais como páginas mais visitadas e tempo de permanência, que servem para gerar estatísticas sobre as preferências dos visitantes e o consequente aprimoramento dos nossos serviços.</p>
					</li>
					<li>
							<h4>Uso e divulgação de informações</h4>
							<p>A Última Versão não comercializa ou compartilha informações pessoais fornecidas pelos visitantes deste site. As informações pessoais poderão ser divulgadas quando por força de determinação judicial ou de regulamentação governamental.</p>
					</li>
					<li>
							<h4>Cookies e Web Beacons</h4>
							<p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoais, quando você visita o {% SETTINGS "SITE_NAME" %}. Isto pode incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.</p>
					</li>
					<li>
							<h4>Links a outros sites</h4>
							<p>Como prestação de serviços, este site poderá conter links e conexões com outros sites, aos quais não se aplica esta Política de Privacidade. Recomendamos a leitura integral da Política de Privacidade de tais sites antes de fornecer-lhes informações pessoais.</p>
					</li>
					<li>
							<h4>Envio de e-mails</h4>
							<p>A nossa equipe não concorda com e nem pratica o envio de e-mails indesejados (spam). As informações consideradas relevantes e de interesse serão enviadas para o seu correio eletrônico, desde que autorizadas durante o cadastramento ou contato conosco.</p>
					</li>
					<li>
							<h4>Declaração legal</h4>
							<p>Para obter informações sobre as condições de uso deste site, acesse a nossos <a href="/terms/">Termos e Condições de Uso</a>.</p>
					</li>
					<li>
							<h4>Atualizações</h4>
							<p>Esta Política de Privacidade poderá ser atualizada a qualquer momento, sendo assim recomendamos o acesso periódico a esta página.<p>
					</li>
					</ol>

					<p>
					Atualizada em 02/08/2015.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}