{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:policies' %}">
			<span class="icon mif-file-text"></span> <span>{% trans "Privacy Policy" %}</span>
		</a>
	</li>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="panel width">
			<div class="heading text-center">
				<span class="icon mif-file-text text-left"></span>
				<span class="title">{% trans "Privacy Policy" %}</span>
			</div>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						{% include "askmath/index/_render_policies.html" %}		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}