{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:terms' %}">
			<span class="icon mif-file-text"></span> <span>{% trans "Terms of service" %}</span>
		</a>
	</li>
{% endblock %}

{% block content %}
    <h3 class="text-center page-title"><span>{% trans "Terms of service" %}</h3>
    <div class="container-fluid bg-grayLighter">
        <div class="row">
            {% include "askmath/index/_render_terms.html" %}
        </div>
    </div>
{% endblock %}