{% extends 'askmath/index/home.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:terms' %}">
			<span class="icon mif-file-text"></span> <span>{% trans "Terms of service" %}</span>
		</a>
	</li>
{% endblock %}

{% block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title"><span>{% trans "Terms of service" %}</h3>
	
	<div class="text-accent align-justify padding20">
		<p class="paragraph">
		Se você continuar a navegar e utilizar este site você está concordando em cumprir e sujeitar-se aos seguintes termos e condições de utilização, que, juntamente com nossa <a href="{% url 'askmath:policies' %}">política de privacidade</a> regem o relacionamento deste website com você .
		</p>

		<p class="paragraph">
		O termo “Este site” e o termo “nós” referem-se ao proprietário do site.
		O termo “você” se refere ao usuário ou visitante do nosso website.
		</p>

		<p>
		<strong>O uso deste website está sujeito aos seguintes termos de uso:</strong>
		</p>
		<ol>
			<li>O conteúdo das páginas deste site é para sua informação geral e de uso apenas. Ele está sujeito à alteração sem aviso prévio. Nem nós e nem terceiros fornecemos qualquer garantia quanto à precisão, pontualidade, desempenho, integralidade ou adequação das informações e materiais encontrados ou oferecidos neste website para qualquer propósito específico.</li>
			<li>Você reconhece que tais informações e materiais podem conter imprecisões ou erros e que expressamente exclui a responsabilidade do website por quaisquer imprecisões ou erros na máxima extensão permitida por lei.</li>
			<li>O uso de quaisquer informações ou materiais neste site é de sua inteira conta e risco, não sendo o website responsável por suas ações.</li>
			<li>Será de sua própria responsabilidade assegurar que quaisquer produtos, serviços ou informação disponibilizada através deste website possa atender às suas necessidades específicas.</li>
			<li>Este website contém material que é de propriedade ou licenciados para nós. Este material inclui, mas não está limitado a design, layout, aparência e gráficos. A reprodução é proibida, exceto se autorizado por nós.</li>
			<li>Todas as marcas reproduzidas neste website que não são de propriedade ou licenciadas, são dados os devidos créditos aos autores.</li>
			<li>O uso não autorizado deste website poderá dar origem a um pedido de indenização e / ou processo judicial.</li>
			<li>De tempos em tempos este website também pode incluir links para outros websites. Esses links são fornecidos para sua conveniência para obter mais informações. Eles não significam que nós endossamos o website de destino. Não temos nenhuma responsabilidade pelo conteúdo do site ligado.</li>
			<li>Não podemos garantir que este website esteja 100% disponível, uma vez que dependemos de servidores de hospedagem para que o este esteja online.</li>
			<li>Recomendamos que clique apenas nos banners e propagandas do seu interesse, jamais incentivaremos você a clicar em algum link para que o website receba qualquer valor ou comissão, pelo contrário, não temos interesse nenhum em trabalhar de forma desonesta e sem profissionalismo.</li>
			<li>
				<p>Estes termos e condições de uso poderão ser atualizados a qualquer momento, sendo assim recomendamos o acesso periódico a esta página.<p>
			</li>
		</ol>

		<p>
		Atualizada em 02/08/2015.
		</p>
	</div>
</div>
{% endblock %}