{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}


{% block header %}
	{% include 'askmath/manager/discipline/overwrite_header.html' %}
{% endblock %}


{% block discipline %}
<li class="active">
{% endblock %}

{%  block content %}
<div class="cell padding10">
	{% if perms.askmath.write_discipline %}
		<a href="/home/manager/disciplines/add/" class="button primary" ><span class="mif-plus"></span>{% trans " Create" %}</a>
	{% endif %}
	{% if is_removed %}
		<a href="/home/manager/disciplines/view/" class="button success" ><span class="mif-undo"></span>{% trans " Undo" %}</a>
	{% else %}
		<a href="/home/manager/disciplines/view_removed/" class="button warning" ><span class="mif-bin"></span>{% trans " Dump" %}</a>
	{% endif %}
	<hr class="thin bg-grayLighter">
		{% if is_removed %}
		<h2 class="text-center">{% trans "Disciplines Removed" %}
		{% else %}
		<h2 class="text-center">{% trans "Disciplines" %}
		{% endif %}
			<span class="mif-stack2 place-right"></span>
		</h2>
	<hr class="thin bg-grayLighter">
</div>
<div class="tile-area padding10 bg-transparent">
<div class="tile-container">
{% for discipline in disciplines %}
<div class="tile {{colors|random}} {% if discipline.is_visible %}element-selected{% endif %}  fg-white" data-role="tile">
    <a href="/home/manager/disciplines/view/discipline={{ discipline.id }}/" class="tile-content iconic">
        <span class="icon mif-stack2"></span>
        <span class="tile-label">{{ discipline }}</span>
        {% if not discipline.exists %}
        <span class="tile-badge mif-bin"></span>
        {% endif %}
    </a>
</div>
{% empty %}
<h3 class="text-center">{% trans "Not Disciplines Found" %}</h3>
{% endfor %}
</div>
</div>
{% endblock %}
