{% extends 'askmath/manager/discipline/manager_view_disciplines.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if discipline %}
		<li><a href="/home/manager/disciplines/view/discipline={{ discipline.id }}/"><span class="icon mif-stack2"></span> <spam class="hidden-xs">{{ discipline }}</spam></a></li>
	{% endif %}
{% endblock %}

{%  block content %}
<div class="cell padding10">
	{% if perms.askmath.write_discipline %}	
		<a href="/home/manager/disciplines/edit/discipline={{ discipline.id }}/" class="button primary" ><span class="mif-pencil"></span>{% trans " Edit" %}</a>
		{% if discipline.exists %}
			<a href="/home/manager/disciplines/remove/discipline={{ discipline.id }}/" class="button danger" ><span class="mif-cross"></span>{% trans " Remove" %}</a>
		{% endif %}
		{% if not discipline.exists %}
			<a href="/home/manager/disciplines/restore/discipline={{ discipline.id }}/" class="button warning" ><span class="mif-history"></span>{% trans " Restore" %}</a>
		{% endif %}
	{% endif %}
</div>

{% include "askmath/manager/discipline/_render_discipline.html" %}

{% endblock %}
