{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_discipline_view' %}">
			<span class="icon mif-books"></span> <span>{% trans "Disciplines" %}</span>
		</a>
	</li>
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title">{% trans "Disciplines" %}</h3>
	
	<div class="padding10">
		{% if perms.askmath.write_discipline %}
		<div class="cell">
			<a id="button-discipline-create" href="{% url 'askmath:manager_discipline_add' %}" class="image-button success">
				<span class="icon mif-plus"></span>
				{% trans "New Discipline" %}
			</a>
			{% if is_removed %}
			<a href="{% url 'askmath:manager_discipline_view' %}" class="image-button warning">
				<span class="icon mif-undo"></span>
				{% trans "Close Dump" %}
			</a>
			{% else %}
			<a href="{% url 'askmath:manager_discipline_view_removed' %}" class="image-button warning">
				<span class="icon mif-bin"></span>
				{% trans "Open Dump" %}
			</a>
			{% endif %}
		</div>
		{% endif %}

		<div class="tile-container">
		{% for discipline in disciplines %}
			<div class="tile-wide {{ discipline.color }} {% if discipline.is_visible %}element-selected{% endif %} fg-white">
				<a href="{% url 'askmath:manager_discipline_view' id_discipline=discipline.id %}" class="tile-content slide-down iconic">
					<span class="icon mif-books"></span>
					<div class="tile-label">
					{{ discipline.get_title|title }}
					</div>
				</a>
			</div>
		{% empty %}
		<h3 class="align-center padding30">{% trans "No discipline found" %}</3>
		{% endfor %}

	</div>
</div>
{% endblock %}