{% extends 'askmath/manager/manager_home.html' %}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:manager_discipline_view' %}">
			<span class="icon mif-books"></span> <span>{% trans "Disciplines" %}</span>
		</a>
	</li>
{% endblock %}


{%  block content %}
<div class="card block-shadow">
	<h3 class="align-center page-title">{% trans "Disciplines" %}</h3>
	
	<div class="padding10">
		{% if perms.askmath.write_discipline %}
		<div class="cell">
			<a id="button-discipline-create" href="{% url 'askmath:manager_discipline_add' %}" class="button success">
				<span class="icon mif-plus"></span>
				{% trans "Create" %}
			</a>
			<a id="button-discipline-edit" href="#" class="button primary">
				<span class="icon mif-pencil"></span>
				{% trans "Edit" %}
			</a>
			{% if is_removed %}
			<a id="button-discipline-restore" href="#" class="button info">
				<span class="icon mif-history"></span>
				{% trans "Restore" %}
			</a>
			{% else %}
			<a id="button-discipline-delete" href="#" class="button danger">
				<span class="icon mif-minus"></span>
				{% trans "Delete" %}
			</a>
			{% endif %}
			{% if is_removed %}
			<a href="{% url 'askmath:manager_discipline_view' %}" class="button warning">
				<span class="icon mif-undo"></span>
				{% trans "Close Dump" %}
			</a>
			{% else %}
			<a href="{% url 'askmath:manager_discipline_view_removed' %}" class="button warning">
				<span class="icon mif-bin"></span>
				{% trans "Open Dump" %}
			</a>
			{% endif %}
		</div>
		{% endif %}

		<table  class="dataTable border bordered">
			<thead>
				<tr>
					{% if perms.askmath.write_discipline %}
					<td style="width: 10px">#</td>
					{% endif %}
					<td>{% trans "Title" %}</td>
					<td style="width: 20px">{% trans "Visible" %}</td>
					<td>{% trans "Lessons" %}</td>
				</tr>
			</thead>
			<tbody>
			{% for discipline in disciplines %}
			<tr>
				{% if perms.askmath.write_discipline %}
				<td>
					<label class="input-control radio small-check no-margin">
						<input type="radio" discipline_id="{{ discipline.id }}" name="radio_discipline">
						<span class="check"></span>
					</label>
				</td>
				{% endif %}
				<td class="sortable-column">{{ discipline.get_title }}</td>
				<td class="sortable-column">
					{% if discipline.is_visible %}
						<button class="cycle-button mini-button success">
							<span class="mif mif-checkmark"></span>
						</button>
					{% else %}
						<button class="cycle-button mini-button danger">
							<span class="mif mif-cross"></span>
						</button>
					{% endif %}
				</td>
				<td class="sortable-column">
					<a href="{% url 'askmath:manager_lesson_view' id_discipline=discipline.id %}">
						{% blocktrans  with lessons_size=discipline.get_lessons|length %}
						See {{ lessons_size}} lessons
						{% endblocktrans %}
					</a>
				</td>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}