{% extends 'askmath/manager/statistic/manager_choose_types.html' %}
{% load i18n %}

{%  block content-right %}

<div class="cell padding5">
	<a href="/home/manager/statistics/lesson/view_statistics/" class="button info" ><span class="mif-arrow-left"></span>{% trans " Back" %}</a>
	<hr class="thin bg-grayLighter">
</div>

<div class="tile-area no-padding bg-transparent">

{% if perms.askmath.access_manager_statistics %}

<div class="tile-wide {{colors|random}}  fg-white" data-role="tile">
    <a href="/home/manager/statistics/lesson/answered_questions/" class="tile-content iconic">
        <span class="icon mif-chart-line"></span>
        <span class="tile-label">{% trans "Answered Question" %}</span>
    </a>
</div>

<div class="tile-wide {{colors|random}}  fg-white" data-role="tile">
    <a href="/home/manager/statistics/lesson/skipped_questions/" class="tile-content iconic">
        <span class="icon mif-chart-line"></span>
        <span class="tile-label">{% trans "Skipped Question" %}</span>
    </a>
</div>


<div class="tile-wide {{colors|random}}  fg-white" data-role="tile">
    <a href="/home/manager/statistics/lesson/help_questions/" class="tile-content iconic">
        <span class="icon mif-chart-line"></span>
        <span class="tile-label">{% trans "Help Question" %}</span>
    </a>
</div>


{% endif %}

</div>
{% endblock %}
