{% extends "askmath/index/home.html" %}
{% load i18n %}
{% load askmath_tags %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}

{% block content %}
<div class="card">
	<h3 class="align-center page-title">
		{% trans "Search result to: " %}<span class="tag success">{{ expression }}<span>
	</h3>
	
	<div class="padding10">
		{% if disciplines_occurrences %}
			<h4>{% trans "Disciplines:" %}</h4>
			<div class="tile-container">
			{% for discipline, occurence in disciplines_occurrences %}
				<div class="tile-wide {{ discipline.color }} fg-white" data-role="tile">
				    <a href="{% url 'askmath:content_discipline_view' id_discipline=discipline.id %}" class="tile-content iconic">
				        <span class="icon mif-stack2"></span>
				        <span class="tile-label">{{ discipline.get_title }}</span>
				    </a>
					<span class="tile-badge bg-red">{{ occurence }}</span>
				</div>
			{% endfor %}
			</div>
		{% endif %}
		
		{% if lessons_occurrences %}
			<h4>{% trans "Lessons:" %}</h4>
			<div class="tile-container">
			{% for lesson, occurence in lessons_occurrences %}
				<div class="tile-wide {{ lesson.color }} fg-white" data-role="tile">
					<a href="{% url 'askmath:content_lesson_view' id_discipline=lesson.get_discipline.id id_lesson=lesson.id %}" class="tile-content iconic">
				        <span class="icon mif-clipboard"></span>
				        <span class="tile-label">{{ lesson.get_title }}</span>
				    </a>
					<span class="tile-badge bg-red">{{ occurence }}</span>
				</div>
			{% endfor %}
			</div>
		{% endif %}
		
		{% if videos_occurrences %}
			<h4>{% trans "Videos:" %}</h4>
			<div class="tile-container">
			{% for video, occurence in videos_occurrences %}
				<div class="tile-wide {{ video.color }} fg-white" data-role="tile">
				    <a href="/home/content/videos/view/discipline={% with video.get_lesson.get_disciplines|first as discipline %}{{ discipline.id }}{% endwith %}/lesson={{ video.get_lesson.id }}/video={{ video.id }}/" class="tile-content iconic">
				        <span class="icon mif-film"></span>
				        <span class="tile-label">{{ video.get_title }}</span>
				    </a>
					<span class="tile-badge bg-red">{{ occurence }}</span>
				</div>
			{% endfor %}
			</div>
		{% endif %}

		{% if  not disciplines_occurrences and not lessons_occurrences and  not videos_occurrences %}
		<h3 class="align-center padding30">{% trans "No result found!!!" %}</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
