{% extends 'askmath/content/content_home.html' %}

{% load i18n %}

{% block header %}
	{% include 'askmath/_header.html' %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>
		<a href="{% url 'askmath:content_discipline_view' id_discipline=discipline.id %}">
			<span class="icon mif-stack2"></span> <span class="hidden-xs">{{ discipline.get_title|title }}</span>
		</a>
	</li>
{% endblock %}

{% block tiles %}
<div class="card block-shadow">
	<h3 class="align-center page-title" >{% trans "Lessons of" %} {{ discipline.get_title }}</h3>
    	
    	<div class="tile-container">
	{% for lesson in discipline.get_lessons_visibles %}
       	<div class="tile-wide {{ lesson.color }}">
		    	<a href="{% url 'askmath:content_lesson_view' id_discipline=discipline.id id_lesson=lesson.id %}" class="tile-content slide-down iconic">
				<span class="icon mif-clipboard"></span>
				<div class="tile-label">{{ lesson.get_title|title }}</div>
		    	</a>
		</div>
	{% empty %}
		<h3 class="align-center">{%trans "Discipline does not have lessons."%}</h3>
	{% endfor %}
	</div>
</div>
{% endblock %}