{% load i18n %}
{% load humanize %}

<div class="panel width">
	<div class="heading {{ topic.color }} fg-white">
		<span class="icon mif-bubble"></span>
	 	<span class="title">{{ topic.get_title }}</span>
	</div>
	<div class="content">
	    <div class="container-fluid">
	    	<div class="row">
				<p class="lead">{{ topic.get_description|safe|linebreaksbr }}</p>
	    	</div>
    	</div>
    	<hr class="bg-white" />
    	<div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-6 col-sm-6 col-md-6">
    			<button data-toggle="collapse" data-parent="#accordion" href="#list-comments"  class="image-button bg-green fg-white">
				    {% trans "Comment" %}
				    <span class="icon bg-emerald">{{ topic.get_comments|length }}</span>
				</button>
    		</div>
			<div class="col-xs-6 col-sm-6 col-md-6 text-right">
				<span class="padding5 lead">
					{% blocktrans with person=topic.person creation=topic.creation|naturaltime  %}
						Posted by <span class="tag success">{{ person }}</span> {{ creation }}.
					{% endblocktrans %}
				</span>
			</div>
    	</div>
    	</div>
	</div>
</div>

<div class="padding5">
{% for comment in topic.get_comments %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 bg-darkBlue no-padding fg-white">
				<div class="image-container">
					<div class="frame">
					{% if comment.person.profile_image %}
					<img  src="{{ comment.person.profile_image.url }}" style="height:60px;">
					{% else %}
					<img src="{{ STATIC_URL }}askmath/img/metro/profile.png"></img>
					{% endif %}
					</div>
				</div>
				<span>{{ comment.person.get_name }}</span>
			</div>
			<div class="col-md-10 bg-lightBlue fg-white">
				<p class="lead">{{ comment.get_description }}</p>
				<span class="place-right">
					{% blocktrans with creation=comment.creation|naturaltime  %}
						Posted {{ creation }}.
					{% endblocktrans %}
				</span>
			</div>
		</div>
	</div>
	<br>
{% empty %}
	<li class="list-group-item">{% trans "Topic no content coments." %}</li>
{% endfor %}
</div>

<div class="padding5">
	<h4>{% trans "Comment:" %}</h4>
	<form action="/home/manager/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/" method ="POST" enctype="multipart/form-data" role="form">
	{% csrf_token %}
	{% include 'askmath/_render_form.html' %}
	<button type="submit" class="button success">{% trans "Comment" %}</button>
	</form>
</div>