{% load i18n %}
{% load humanize %}
<div class="example" data-text="{% trans "Comments" %}">
{% for comment in topic.get_comments %}
<div class="row">
<div class="panel width">
	<div class="heading bg-blue">
        <span class="title fg-white">{{ comment.person.get_name }}</span>
        <div class="place-right">
        	<span class="lead">
				{% blocktrans with creation=topic.creation|naturaltime  %}
					<span class="tag info">{{ creation }}</span>
				{% endblocktrans %}
			</span>
        	{% if request.user == topic.person %}
				<a href="/home/manager/forum/topics/edit/category={{ category.id }}/topic={{ topic.id }}/"><span class="mif-pencil padding5 fg-white"></span></a>
			{% endif %}
			{% if topic.exists %}
				<a href="/home/manager/forum/topics/remove/category={{ category.id }}/topic={{ topic.id }}/"><span class="mif-cross padding5 fg-white"></span></a>
			{% endif %}
        </div>
    </div>
	<div class="content">
	    <div class="container-fluid">
	    	<div class="row">
				<p class="lead">{{ comment.get_description|linebreaksbr }}</p>
	    	</div>
    	</div>
	</div>
</div>
</div>
{% empty %}
{% endfor %}
</div>