{% extends 'askmath/manager/forum/category/manager_view_category.html' %}
{% load i18n %}
{% load humanize %}

{% block scripts %}
	{{ block.super }}
	<script>
		setInterval(function() {
		}, 3000);
	</script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if topic %}
		<li><a href="/home/manager/forum/topics/view/category={{ category.id }}/topic={{ topic.id }}/"><span class="icon mif-bubble"></span> <spam>{{ topic.get_description|truncatechars:"20" }}</spam></a></li>
	{% endif %}
{% endblock %}

{% block content_right %}
{% include "askmath/manager/forum/topic/_render_topic.html" %}
{% endblock %}