{% extends 'askmath/manager/manager_home.html' %}

{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="/home/manager/statistics/choose_type/">
            <span class="icon mif-chart-line"></span> <span>{% trans "Statistics" %}</span>
        </a>
    </li>
{% endblock %}

{%  block content %}
<div class="card block-shadow">
    <h3 class="align-center page-title">{% trans "Choose Type of Statistic" %}</h3>

    <div class="tile-area no-padding bg-transparent">
    {% if perms.askmath.access_manager_statistics %}
    <div class="tile-wide bg-blue  fg-white hide" data-role="tile">
        <a href="" class="tile-content iconic">
            <span class="icon mif-organization"></span>
            <span class="tile-label">{% trans "By class" %}</span>
        </a>
    </div>

    <div class="tile-wide bg-green  fg-white" data-role="tile">
        <a href="{% url 'askmath:manager_statistics_student_list_students' %}" class="tile-content iconic">
            <span class="icon mif-users"></span>
            <span class="tile-label">{% trans "By Students" %}</span>
        </a>
    </div>
    {% endif %}

    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- HighCharts -->
<script src="{{ STATIC_URL }}askmath/frameworks/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}askmath/frameworks/highcharts/highcharts-3d.js"></script>
<script src="{{ STATIC_URL }}askmath/frameworks/highcharts/modules/exporting.js"></script>
{% endblock %}