{% load i18n %}

<div class="container">
	<div class="list-group">
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Name:" %}</h4>
			<p class="list-group-item-text">{{ message_model.get_name }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Email:" %}</h4>
			<p class="list-group-item-text">{{ message_model.get_email }}</p>
		</div>
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Message:" %}</h4>
			<p class="list-group-item-text">{{ message_model.get_message|safe|linebreaksbr }}</p>
		</div>
		
		{% if message_model.get_file %}
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "File:" %}</h4>
			<p class="list-group-item-text">
				<a href="{{ message_model.get_file.url }}" target="_blank">{% trans "Download File" %}</a>
			</p>
		</div>
		{% endif %}
		
		<div class="list-group-item">
			<h4 class="list-group-item-heading">{% trans "Date:" %}</h4>
			<p class="list-group-item-text">{{ message_model.creation }}</p>
		</div>
	</div>
</div>